/*--Form--*/
.required{ /*campo requerido*/
    color:#a02506;
}
form{
    font-size:16px;
    font-family: 'Lato', sans-serif;
    color:#404040;
}
form li{
    text-align:left;
    margin-top: 5;
    margin-left:20%;
    margin-right:20%;
}
/*Form input*/
form input[type=text], input[type=email]{
    border-radius: 4px;
    height:25px;
    font-size:14px;
    padding: 8px;
    margin-left: 4px;
    border: solid 1px white;
}
form input[type=text]:hover, input[type=email]:hover{
    border-color:#a6a6a6;
    transition: box-shadow 0.4s, border 0.4s;
}
form input[type=text]:focus, input[type=email]:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
fieldset{
    text-align: center;
}
/*Form select*/
form .field-select{
    color:#404040;
    height:25px;
    font-size:14px;
    padding: 0 0 0 8;
    margin-left: 4px;
    border: solid 1px white;
    border-radius: 4px;
}
form .field-select:hover{
    border-color:#a6a6a6;
    transition: box-shadow 0.4s, border 0.4s;
}
form .field-select:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

/*Form textarea*/
form textarea{
    width:400px;
    height: 40px;
    margin:0 0 -4 5;
    border: solid 1px white;
    border-radius: 4px;
    font-family: 'Lato', sans-serif; /*color:#2c3e50;*/
}
form textarea:hover{
    border-color:#a6a6a6;
    transition: box-shadow 0.4s, border 0.4s;
}
form textarea:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

/*Form button*/
 input.btn.danger{
    background-color: red;
 }
form input[type=button], input[type=submit], input[type=reset]{
    height:30px;
    font-size:14px;
    border-radius:8px;
    border: solid 1px #4155af;
    padding:6 10 10 10 ;
    margin: 10 0 10 0;
    background-color:#4155af;
    color:white;
    cursor:hand;
}
form input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
    background-color:#5466b7;
    transition: background-color 0.3s, border 0.3s;
    color:white;
    border-color:#5466b7;
}
form input[type=button]:active, input[type=submit]:active, input[type=reset]:active{
    background-color:#4155af;
    border-color:#4155af;
    color:#e6ecff;
}
div#content{
    display:inline;
}
div#shot-chart{
    border:1px solid #000000;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -750px;
    top: -150px;
    width: 750px;
}
svg#shot-chart-svg{
    padding-left: auto;
    padding-right: auto;
    width: 750px;
    height: 710px;
}
mask {
    opacity: 1.0;
    fill-opacity:1.0;
}
svg mask rect{
    fill:white;
}
svg mask circle{
    fill:black;
}
svg polygon{
    opacity: 0.5;
    fill-rule: evenodd;
}
svg circle{
    opacity: 0.5;
    fill-rule: evenodd;
}
svg path{
    opacity: 0.5;    
    fill-rule: evenodd;
}
#shot-chart-form input{
    font-size: 11px;
    padding: 4px 2px 4px 4px;
    margin-left:6px;
    margin-right:4px;
    width: 20px;
}
#shot-form input{
    font-size: 11px;
    padding: 4px 2px 4px 4px;
    margin-left:6px;
    margin-right:4px;
    width: 20px;
}
#shot-form{
    background-color: #0f2c5b;
    text-align: center;
    color: white;
    opacity: 0.95;
    text-opacity:1;
}
.zone{
    stroke: black;
    stroke-width:3;
}
.inside{
    stroke: black;
    stroke-width:3;
}
.triple{
    stroke: black;
    stroke-width:5;
}
.bad-fg{
    fill:red;
}
.good-fg{
    fill:lime;
}
.neutral-fg{
    fill:none;
}
#left-wing-fgm{
    position:absolute;
    left: 5px;
    top: 50px;
    width: 15px;
    height: 15px;
}
#left-wing-fga{
    position:absolute;
    left: 45px;
    top: 50px;
    width: 15px;
    height: 15px;
}
#right-wing-fgm{
    position:absolute;
    left: 665px;
    top: 50px;
    width: 15px;
    height: 15px;
}
#right-wing-fga{
    position:absolute;
    left: 705px;
    top: 50px;
    width: 15px;
    height: 15px;
}
#rim-fgm{
    position:absolute;
    left: 330px;
    top: 50px;
    width: 15px;
    height: 15px;
}
#rim-fga{
    position:absolute;
    left: 380px;
    top: 50px;
    width: 15px;
    height: 15px;
}
#low-post-left-fgm{
    position:absolute;
    left: 180px;
    top: 180px;
    width: 15px;
    height: 15px;
}
#low-post-left-fga{
    position:absolute;
    left: 230px;
    top: 180px;
    width: 15px;
    height: 15px;
}
#low-post-right-fgm{
    position:absolute;
    left: 475px;
    top: 180px;
    width: 15px;
    height: 15px;
}
#low-post-right-fga{
    position:absolute;
    left: 525px;
    top: 180px;
    width: 15px;
    height: 15px;
}
#low-post-fgm{
    position:absolute;
    left: 330px;
    top: 235px;
    width: 15px;
    height: 15px;
}
#low-post-fga{
    position:absolute;
    left: 380px;
    top: 235px;
    width: 15px;
    height: 15px;
}
#left-fgm{
    position:absolute;
    left: 60px;
    top: 135px;
    width: 15px;
    height: 15px;
}
#left-fga{
    position:absolute;
    left: 110px;
    top: 135px;
    width: 15px;
    height: 15px;
}
#high-post-fgm{
    position:absolute;
    left: 330px;
    top: 380px;
    width: 15px;
    height: 15px;
}
#high-post-fga{
    position:absolute;
    left: 380px;
    top: 380px;
    width: 15px;
    height: 15px;
}
#high-post-left-fgm{
    position:absolute;
    left: 160px;
    top: 300px;
    width: 15px;
    height: 15px;
}
#high-post-left-fga{
    position:absolute;
    left: 200px;
    top: 300px;
    width: 15px;
    height: 15px;
}
#high-post-right-fgm{
    position:absolute;
    left: 500px;
    top: 300px;
    width: 15px;
    height: 15px;
}
#high-post-right-fga{
    position:absolute;
    left: 540px;
    top: 300px;
    width: 15px;
    height: 15px;
}
#right-fgm{
    position:absolute;
    left: 600px;
    top: 135px;
    width: 15px;
    height: 15px;
}
#right-fga{
    position:absolute;
    left: 650px;
    top: 135px;
    width: 15px;
    height: 15px;
}
#triple-left-fgm{
    position:absolute;
    left: 60px;
    top: 400px;
    width: 15px;
    height: 15px;
}
#triple-left-fga{
    position:absolute;
    left: 110px;
    top: 400px;
    width: 15px;
    height: 15px;
}
#triple-right-fgm{
    position:absolute;
    left: 600px;
    top: 400px;
    width: 15px;
    height: 15px;
}
#triple-right-fga{
    position:absolute;
    left: 650px;
    top: 400px;
    width: 15px;
    height: 15px;
}
#triple-center-fgm{
    position:absolute;
    left: 330px;
    top: 450px;
    width: 15px;
    height: 15px;
}
#triple-center-fga{
    position:absolute;
    left: 380px;
    top: 450px;
    width: 15px;
    height: 15px;
}