/*---------------Table--------------------*/
table {
    border-collapse: collapse;
    /*margin-left:10%;
    margin-right:5%;
    margin-bottom: 3em;*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: #fff;
}
td, th {
    padding: 0.25em 0em;
    text-align: center;
    font-size: 12px;
}
/*td.err {
    background-color: #e992b9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
}*/
thead, tbody th {
    background-color: #4155af;
    color:#fff;
}
th {
    background-color: #5989f9;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody td:nth-child(2n-1){
    background-color: #cfdff7;
}
tbody tr:hover td{
    background-color: #aebcf9;
transition: all 0.2s;
}

/**************************************/
button{
    height:30px;
    font-size:14px;
    border-radius:8px;
    border: solid 1px #4155af;
    padding:6.5 10 10 10 ;
    margin: 10 0 10 0;
    background-color:#4155af;
    color:white;
    cursor:hand;
}
button:hover{
    background-color:#5065c4;
    border-color:#5065c4;
    transition: background-color 0.2s, border 0.2s;
}

button.btn-add{
	background-color:#7fff00;
	color:black;
}
button.btn-add:hover{
    background-color:#5065c4;
    border-color:#5065c4;
    color:white;
    transition: background-color 0.2s, border 0.2s;
}

i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4;
    margin:2.5 2 2 2;
}

.arrow_right {
    height:8px;
    width:8px;
    float:right;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow_left {
    height:8px;
    width:8px;
    float:left;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

 /*Div de acciones como filtrar o nuevo*/
 .actions{
 	text-align: center;
 	display: inline-block;
 }
 /*Div de alertas*/
 .alert{
 	/*float: right;*/
 	position: fixed;
 	bottom: 0;
 	right: 0;
 	text-align: center;
 	width: 250px;
 	padding: 5px;
 	background-color: #0f2c5b;
 	color: gold;
 	border: solid gold;
    border-width: 1px 1px 1px 1px;
 }
