/*--General-*/
body {
    background-color: #80aaff;
    color: #404040;
    font-size:12;
    font-family: 'Lato', sans-serif; color:#2c3e50;
}
/*--Header--*/
#header {
    height:140px;
    background:#fff;
    /*position:fixed;*/
    width:98%;
    margin: -8 0 0 -8;
    padding:15px;
    border-bottom: solid 2px #4155a0;
}
/*--Nav--*/
.nav{
   /*position:relative;*/
   top:-50px;
   left:366px;
   width: 66%;
   font-size:15px;
   color:#fff;
}
.nav p{
    padding:7px;
}
.nav ul {
    text-transform:uppercase;
    font-size:15px;
    *zoom:1;
    list-style:none;
    background:#333;
    margin:0px;
    padding:0px;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}

.nav li ul li{
    width:100%; /*el ancho de cada elemento de sublista*/
}
.nav ul > li {
    float:left;
    position:relative;
    display:inline;
    padding:0px;

}
.nav a {
    display:block;
    padding:20px 30px;
    /*line-height:1.2em;*/
    color:#fff;
    /*border-left:1px solid #595959;*/
}
.nav a:hover {
    text-decoration:none;
    background:#595959;
}
.nav li ul {
    position:absolute;
    left:0;
    top:60px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.nav ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(500) rotate3d(0,0,0,0);
}
/*--Footer--*/
footer {
    background:#0f2c5b;
    width:100%;
    float:left;
    height:54px;
    /*text-transform:uppercase;*/
    text-align: center;
    font-size:9px; color: #ffffff;
    margin-top:150px;
}
footer div#ico{
    text-align: right;
}
footer div#contact{
    text-align: left;
}
footer a:link { color: #afafaf;}
footer a:visited { color: #dfaddd;}