/*--General-*/
body {
    background-color: #80aaff;
    color: #404040;
    font-size:12;
    font-family: 'Lato', sans-serif; color:#2c3e50;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
}
/*--Header--*/
#header {
    display: block;
    height:60px;
    background:#fff;
    position: relative;
    width:845px;
    margin: auto;
    top:75px;
    padding:15px;
    border-bottom: solid 2px #4155a0;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
#header div#user{
    float:right;
}
#header div#logo{
    position: relative;
    bottom: 120px;
    right: 30px;
    display: block;
    float: left;
}
/*--Nav--*/
.nav{
   position:relative;
   width: 510px;
   font-size:15px;
   color:#fff;
   float:left;
   z-index:1;
}
.nav p{
    padding:7px;
}
.nav ul {
    text-transform:uppercase;
    font-size:15px;
    *zoom:1;
    list-style:none;
    background:#333;
    margin:0px;
    padding:0px;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}

.nav li ul li{
    width:100%; /*el ancho de cada elemento de sublista*/
}
.nav ul > li {
    float:left;
    position:relative;
    display:inline;
    padding:0px;

}
.nav li ul li a {
    display:block;
    padding:20px 30px;
    /*line-height:1.2em;*/
    color:#fff;
    /*border-left:1px solid #595959;*/
}
.nav a:hover {
    text-decoration:none;
    background:#595959;
}
.nav li ul {
    position:absolute;
    left:0;
    top:60px;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.nav ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(500) rotate3d(0,0,0,0);
}
/*--Content--*/
#content {
    /*display: block;*/
    position: absolute;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 1024px;
    }
/*--Footer--*/
footer {
    background:#0f2c5b;
    width:100%;
    float:left;
    height:34px;
    /*text-transform:uppercase;*/
    text-align: center;
    font-size:9px; color: #ffffff;
    /*margin-top:150px;*/
        position: fixed;
        bottom :0px;
        left: 0px;
}
footer div#ico{
    text-align: right;
}
footer div#contact{
    text-align: left;
    position:absolute;
}
footer div#font{
    text-align: right;
}

footer div#w3c{
    position: absolute;
    display: inline-block;
}
footer a:link { color: #afafaf;}
footer a:visited { color: #dfaddd;}

/*--Help--*/
div#help{
    background: #afffff;
    color: blue;
    width: 300px;
    position: absolute;
    left: 600px;
    top: 10px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 5;
}

/*--Legend--*/
div#legend{
    background: orange;
    color: black;
    width: 300px;
    position: absolute;
    left: 600px;
    top: 10px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 5;
}

div#navigation-back{
    position: absolute;
    left: 300px;
    top: -50px;
}
div#statistics{
    z-index:0;
}

/* Login */
#login-form {
  position: relative;
  /*z-index: 1;*/
  background-color: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 25px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

#login-thumbnail img {
  /*display: block;*/
  width: 70%;
  height: 70%;
  box-sizing: border-box;
}
#login-form input {
  outline: 0;
  background-color: #EFEFEF;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
#login-form button {
  /*outline: 0;*/
  background: #144ca8;
  width: 100%;
  border: 0;
  /*padding: 15px;*/
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  }
#login-form button:hover {
  background: #5877b5 ;
  transition: all 0.3s ease 0s;
}