@(recordForm: Form[kobe.model.Record], records: Seq[kobe.model.Record], plan: kobe.model.Plan, units: Seq[kobe.model.Unit], sessions: Seq[kobe.model.Session], series: Seq[kobe.model.Serie], exercises: Seq[kobe.model.Exercise])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("volume.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h1>Plan: <i>@plan.name</i></h1>
@for(session <- sessions){
@if(session.idPlan == plan.id.get){
<h2>Sesión: <i>@session.name</i></h2>
@for(serie <- series){
@if(serie.idSession == session.id.get){
@for(exercise <- exercises){
@if(serie.idExercise == exercise.id.get){
<h3>Serie: <i>@serie.id-@exercise.name</i></h3>
<table>
    <tr>
        <th>Valor</th>
        <th>Notas</th>
        <th></th>
    </tr>
    @for(volume <- records.filter(_.idSerie == serie.id.get).filter(_.typeR == "V")){
    <tr>
        <td>@volume.value @for(unit <- units.filter(_.id.get == volume.idUnit)){ @unit.name</td> }
        <td>@volume.notes</td>
        <td><a href="@kobe.controllers.routes.RecordController.editVolume(volume.id.get)">
            <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
        </td>
    </tr>
    }
</table>
<form id="@plan.name-@session.name-@serie.id-data-form" role="form" action=@kobe.controllers.routes.RecordController.saveVolume(plan.id.get) method="post" autocomplete="off">
    <fieldset >
        <label>Volúmenes</label>
        <br/>
        <table>
            <tr>
                <th>Valor</th>
                <th>Unidad</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="value" name="value" value="" placeholder="Valor">
                </td>
                <td>
                    <select id="id_unit" name="id_unit">
                        @for(unit <- units){<option value="@unit.id">@unit.name</option> }
                    </select>
                </td>
                <td>
                    <input type="text" id="notes" name="notes" value="" placeholder="Notas">
                </td>
                <td>
                    <input type="hidden" id="id_serie" name="id_serie" value="@serie.id">
                    <input type="hidden" id="type" name="type" value="V">
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button>
        </div>
    </fieldset>
</form>
}
}
}
}

}
}

}
