@(exerciseForm: Form[kobe.model.Exercise], typeExercises: Seq[kobe.model.TypeExercise], categories: Seq[kobe.model.Category], enviroments: Seq[kobe.model.Enviroment])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("exercise.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden a&ntilde;adir Ejercicios al sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h1>A&ntilde;adir Ejercicio</h1>
<form id="exercise-data-form" action=@kobe.controllers.routes.ExerciseController.save() method="post" autocomplete="off">
    <fieldset >
        <label>Ejercicio</label>
        <br/>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Categor&iacute;a</th>
                <th>Entorno</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="name" name="name" value="" placeholder="Nombre" required>
                </td>
                <td>
                    <select id="id_type" name="id_type">
                        <option label=" " value=""></option>
                        @for(typeExercise <- typeExercises){
                        <option value="@typeExercise.id">@typeExercise.name</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="id_category" name="id_category">
                        <option label=" " value=""></option>
                        @for(category <- categories){
                        <option value="@category.id">@category.name</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="id_enviroment" name="id_enviroment">
                        <option label=" " value=""></option>
                        @for(enviroment <- enviroments){
                        <option value="@enviroment.id">@enviroment.name</option>
                        }
                    </select>
                </td>
                <td>
                    <textarea  id="notes" name="notes" placeholder="Notas"></textarea>
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">A&ntilde;adir</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
