@(id: Long, recordForm: Form[kobe.model.Record],series: Seq[kobe.model.Serie],exercises: Seq[kobe.model.Exercise],sessions: Seq[kobe.model.Session],plans: Seq[kobe.model.Plan],units: Seq[kobe.model.Unit])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("volume.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Vol&uacute;mnes registrados en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h3>Editar Volumen</h3>
<form id="record-data-form" action=@kobe.controllers.routes.RecordController.updateVolume(id) method="post" autocomplete="off">
    <fieldset>
        <br/>
        <table>
            <tr>
                <th>Serie</th>
                <th>Valor</th>
                <th>Unidad</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    @defining(recordForm("id_serie").value) { serieValue=>
                    @for(serie <- series.filter(_.id.get == serieValue.get.toLong)){
                    @for(exercise <- exercises.filter(_.id.get == serie.idExercise)){
                    @for(session <- sessions.filter(_.id.get == serie.idSession)){
                    @for(plan <- plans.filter(_.id.get == session.idPlan)){
                    @plan.name>@session.name: @serie.id.get - @exercise.name
                    <input type="hidden" id="id_serie" name="id_serie" value="@serie.id">
                    }}}}
                    }
                    <input type="hidden" id="type" name="type" value="V">
                </td>
                <td>
                    @defining(recordForm("value").value){ valueValue=>
                    <input type="text" id="value" name="value" value="@valueValue" onchange="validateNumber('value','btn-submit')">
                    }
                </td>
                <td>
                    @defining(recordForm("id_unit").value){ unitValue=>
                    <select id="id_unit" name="id_unit">
                        @for(unit <- units){
                        @if(unit.id.get  == unitValue.get.toLong){
                        <option selected="selected" value="@unit.id">@unit.name</option>
                        }else{
                        <option value="@unit.id">@unit.name</option>
                        }}
                    </select>
                    }
                </td>
                <td>
                    @defining(recordForm("notes").value){ notesValue=>
                    <textarea  id="notes" name="notes">@notesValue</textarea>
                    }
                </td>

            </tr>
        </table>
        <br/>
        <div>
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Guardar Vol&uacute;men</button>
            o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(kobe.controllers.routes.RecordController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Volumen" class="btn danger">
}

}
