@(id: Long, exerciseForm: Form[kobe.model.Exercise], typeExercises: Seq[kobe.model.TypeExercise], categories: Seq[kobe.model.Category], enviroments: Seq[kobe.model.Enviroment])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("exercise.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Ejercicios presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h3>Editar Ejercicio</h3>
<form id="exercise-data-form" role="form" action=@kobe.controllers.routes.ExerciseController.update(id) method="post" autocomplete="off">
    <fieldset >
        <br/>
        <table align="center">
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Categoría</th>
                <th>Entorno</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td align="center">
                    @defining(exerciseForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name"  value="@nameValue">
                    }
                </td>
                <td>
                    @defining(exerciseForm("id_type").value) { typeExerciseValue=>
                    <select id="id_type" name="id_type">
                        @if(typeExerciseValue == None){
                        <option selected="selected" value = ""></option>
                        }else{ <option value = ""></option> }
                        @for(typeExercise <- typeExercises){
                        @if(typeExerciseValue != None && typeExercise.id.get == typeExerciseValue.get.toLong){
                        <option selected="selected" value="@typeExercise.id">@typeExercise.name</option>
                        }else{ <option value="@typeExercise.id">@typeExercise.name</option> }}
                    </select>
                    }
                </td>
                <td>
                    @defining(exerciseForm("id_category").value) { categoryValue=>
                    <select id="id_category" name="id_category">
                        @if(categoryValue == None){
                        <option selected="selected" value = ""></option>
                        }else{ <option value = ""></option>}
                        @for(category <- categories){
                        @if(categoryValue != None && category.id.get == categoryValue.get.toLong){
                        <option selected="selected" value="@category.id">@category.name</option>
                        }else{ <option value="@category.id">@category.name</option>}}
                    </select>
                    }
                </td>
                <td>
                    @defining(exerciseForm("id_enviroment").value) { enviromentValue=>
                    <select id="id_enviroment" name="id_enviroment">
                        @if(enviromentValue == None){
                        <option selected="selected" value = ""></option>
                        }else{ <option value = ""></option>}
                        @for(enviroment <- enviroments){
                        @if(enviromentValue != None && enviroment.id.get == enviromentValue.get.toLong){
                        <option selected="selected" value="@enviroment.id">@enviroment.name</option>
                        }else{ <option value="@enviroment.id">@enviroment.name</option> }}
                    </select>
                    }
                </td>
                <td align="center">
                    @defining(exerciseForm("notes").value){ notesValue=>
                    <textarea  id="notes" name="notes">@notesValue</textarea>
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Ejercicio</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(kobe.controllers.routes.ExerciseController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Ejercicio" class="btn danger">
}

}
