@(id: Long, typeExerciseForm: Form[kobe.model.TypeExercise])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("typeExercise.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Tipos de Ejercicios presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h3>Editar Tipo</h3>
<form id="typeExercise-data-form" role="form" action=@kobe.controllers.routes.TypeExerciseController.update(id) method="post" autocomplete="off">
    <fieldset>
        <br/>
        <table align="center">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    @defining(typeExerciseForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre" required>
                    }
                </td>
                <td align="center">
                    @defining(typeExerciseForm("description").value){ descriptionValue=>
                    <textarea  id="description" name="description">@descriptionValue</textarea>
                    }
                </td>
                <td align="center">
                    @defining(typeExerciseForm("notes").value){ notesValue=>
                    <textarea  id="notes" name="notes">@notesValue</textarea>
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Tipo</button>
            o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(kobe.controllers.routes.TypeExerciseController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Tipo" class="btn danger">
}

}
