@(id: Long, categoryForm: Form[kobe.model.Category])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("category.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Categorías presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h2>Categorías</h2>
<form id="category-data-form" action=@kobe.controllers.routes.CategoryController.update(id) method="post" autocomplete="off">
    <fieldset>

        <br/>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    @defining(categoryForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre" required>
                    }
                </td>
                <td>
                    @defining(categoryForm("description").value){ descriptionValue=>
                    <textarea id="description" name="description">@descriptionValue</textarea>
                    }
                </td>
                <td>
                    @defining(categoryForm("notes").value){ notesValue=>
                    <textarea id="notes" name="notes">@notesValue</textarea>
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Categoría</button>
            o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(kobe.controllers.routes.CategoryController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Categoría" class="btn danger">
}

}
