@(id: Long, typeExerciseForm: Form[kobe.model.TypeExercise])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("typeExercise.title")){

<form id="typeExercise-data-form" role="form" action=@kobe.controllers.routes.TypeExerciseController.update(id) method="post" autocomplete="off">
    <fieldset>
        <label>Tipos</label>
        <br/>
        <table align="center">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    @defining(typeExerciseForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre" required>
                    }
                </td>
                <td align="center">
                    @defining(typeExerciseForm("description").value){ descriptionValue=>
                    <input type="text" id="description" name="description" value="@descriptionValue">
                    }
                </td>
                <td align="center">
                    @defining(typeExerciseForm("notes").value){ notesValue=>
                    <input type="text" id="notes" name="notes" value="@notesValue">
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Tipo</button>
            o
            <a href=@kobe.controllers.routes.TypeExerciseController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(kobe.controllers.routes.TypeExerciseController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Tipo" class="btn danger">
}

}
