@(currentPage : util.Page[(kobe.model.Exercise,kobe.model.TypeExercise,kobe.model.Category,kobe.model.Enviroment)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
kobe.controllers.routes.ExerciseController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("exercise.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="actions">
    @helper.form(action=kobe.controllers.routes.ExerciseController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Ejercicio">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@kobe.controllers.routes.ExerciseController.add()">Añadir Ejercicio</a>
</div>
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Categoría</th>
        <th>Entorno</th>
        <th>Notas</th>
    </tr>
    @for((exercise,texe,category,enviroment) <- currentPage.items){
    <tr>
        <td><a href="@kobe.controllers.routes.ExerciseController.edit(exercise.id.get)">@exercise.name</a></td>
        @if(texe != None){
        <td><a href="@kobe.controllers.routes.TypeExerciseController.edit(texe.id.get)">@texe.name</a></td>
        }else{
        <td>-</td>
        }
        @if(category != None){
        <td><a href="@kobe.controllers.routes.CategoryController.edit(category.id.get)">@category.name</a></td>}else{
        <td>-</td>
        }
        @if(enviroment != None){
        <td><a href="@kobe.controllers.routes.EnviromentController.edit(enviroment.id.get)">@enviroment.name</a></td>
        }else{
        <td>-</td>
        }
        <td>@exercise.notes</td>
        <td><a href="@kobe.controllers.routes.ExerciseController.delete(exercise.id)">Borrar</a></td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev"><a href="@link(page)">&larr; Anterior</a></li>
        }.getOrElse {
        <li class="prev disabled"><a>&larr; Anterior</a></li> }
        <li class="current"><a>Mostrando del @(currentPage.offset + 1)
            al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a></li>
        @currentPage.next.map { page =>
        <li class="next"><a href="@link(page)">Siguiente &rarr;</a></li>
        }.getOrElse {
        <li class="next disabled"><a>Siguiente &rarr;</a></li> }
    </ul>
</div>
}