@(currentPage : util.Page[(kobe.model.Session,kobe.model.Plan)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
kobe.controllers.routes.SessionController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("session.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden listar las Sesiones creadas y el Plan al que pertenecen.
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h3>Sesiones</h3>
<div id="actions">
    @helper.form(action=kobe.controllers.routes.SessionController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Sesión">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@kobe.controllers.routes.SessionController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Plan</th>
        <th class="tdnotes">Notas</th>
        <th><div class="tooltip"><span class="tooltiptext">Añade marcas a las series asociadas.</span>
            <img src=@routes.Assets.versioned("images/info.png") alt="Info"></div></th>

    </tr>
    @for((session,plan) <- currentPage.items){
    <tr>
        <td>@session.name</td>
        <td>@plan.name</td>
        <td class="tdnotes">@session.notes</td>
        <td>
            <a href="@kobe.controllers.routes.RecordController.addMark(session.id.get)">
                <img src=@routes.Assets.versioned("images/add.png") alt="Añadir Marca">
            </a>
            <a href="@kobe.controllers.routes.SessionController.edit(session.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@kobe.controllers.routes.SessionController.delete(session.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar">
            </a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
<div id="navigation-back"> <a href="@request.headers.get("referer")">
    <img src=@routes.Assets.versioned("images/volver24.png") alt="Volver"></a></div>
}