@(currentPage : util.Page[(kobe.model.Serie,kobe.model.Session,kobe.model.Exercise,kobe.model.Plan)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
kobe.controllers.routes.SerieController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("serie.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se listan las Series creadas con su Sesión y Ejerecicio relacionados
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h3>Series</h3>
<div id="actions">
    @helper.form(action=kobe.controllers.routes.SerieController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Serie">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <button type="submit" onclick="location.href='@kobe.controllers.routes.SerieController.add()'" class="btn-add">
    Nuevo</button>
</div>
<table class="table table-striped">
    <tr>
        <th>Sesión</th>
        <th>Ejercicio</th>
        <th class="tdnotes">Notas</th>
        <th><div class="tooltip"><span class="tooltiptext">Añade volúmenes a la serie</span>
            <img src=@routes.Assets.versioned("images/info.png") alt="Info"></div></th>
    </tr>
    @for((serie,session,exercise,plan) <- currentPage.items){
    <tr>
        <td>@plan.name>@session.name</td>
        <td>@exercise.name</td>
        <td class="tdnotes">@serie.notes</td>
        <td>
            <a href="@kobe.controllers.routes.RecordController.addVolume(plan.id.get)">
                <img src=@routes.Assets.versioned("images/add.png") alt="Añadir Volúmen">
            </a>
            <a href="@kobe.controllers.routes.SerieController.edit(serie.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@kobe.controllers.routes.SerieController.delete(serie.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar"></a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    <br>
    @currentPage.prev.map { page =>
    <button onclick="location.href='@link(page)'">Anterior<i class="arrow_left"></i></button>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <button onclick="location.href='@link(page)'">Siguiente<i class="arrow_right"></i></button>
    }.getOrElse {|}
</div>
<div id="navigation-back"> <a href="@request.headers.get("referer")">
    <img src=@routes.Assets.versioned("images/volver24.png") alt="Volver"></a></div>
}