@(currentPage : util.Page[kobe.model.Exercise], currentOrderBy: Int, currentFilter: String,types: Seq[kobe.model.TypeExercise],categories:Seq[kobe.model.Category],enviroments:Seq[kobe.model.Enviroment])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
kobe.controllers.routes.ExerciseController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("exercise.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h3>Ejercicios</h3>
<div id="actions">
    @helper.form(action=kobe.controllers.routes.ExerciseController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Ejercicio">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@kobe.controllers.routes.ExerciseController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Categoría</th>
        <th>Entorno</th>
        <th>Notas</th>
        <th></th>
    </tr>
    @for(exercise <- currentPage.items){
    <tr>
        <td>@exercise.name</td>
        <td>
            @if(exercise.idTypeExercise != None){
            @for(texe <- types.filter(_.id.get == exercise.idTypeExercise.get)){
            <a href="@kobe.controllers.routes.TypeExerciseController.edit(texe.id.get)">@texe.name</a>}}
        </td>
        <td>
            @if(exercise.idCategory != None){
            @for(category <- categories.filter(_.id.get == exercise.idCategory.get)){
            <a href="@kobe.controllers.routes.CategoryController.edit(category.id.get)">@category.name</a>}}
        </td>
        <td>
            @if(exercise.idEnviroment != None){
            @for(enviroment <- enviroments.filter(_.id.get == exercise.idEnviroment.get)){
            <a href="@kobe.controllers.routes.EnviromentController.edit(enviroment.id.get)">@enviroment.name</a>}}
        </td>
        <td>@exercise.notes</td>
        <td><a href="@kobe.controllers.routes.ExerciseController.edit(exercise.id.get)">
            <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@kobe.controllers.routes.ExerciseController.delete(exercise.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar">
            </a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a></br>
    @currentPage.prev.map { page =>
    <a href="@link(page)">
        <button>Anterior<i class="arrow_left"></i></button>
    </a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)">
        <button>Siguiente<i class="arrow_right"></i></button>
    </a>
    }.getOrElse {|}
</div>
}