@(currentPage : util.Page[(kobe.model.Record,kobe.model.Serie,kobe.model.Unit,kobe.model.Exercise)], currentOrderBy: Int, currentFilter: String, plans: Seq[kobe.model.Plan], sessions: Seq[kobe.model.Session])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
kobe.controllers.routes.PlanController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("mark.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<table class="table table-striped">
    <tr>
        <th>Serie</th>
        <th>Ejercicio</th>
        <th>Volumen</th>
        <th>Notas</th>
    </tr>
    @for((record,serie,unit,exercise) <- currentPage.items){
    <tr>
        @for(plan <- plans){
        @for(session <- sessions){
        @if(session.idPlan == plan.id.get){
        @if(serie.idSession == session.id.get){
        <td>@plan.name>@session.name-<a href="@kobe.controllers.routes.SerieController.edit(serie.id.get)">@serie.id</a></td>
        }
        }
        }
        }
        <td>@exercise.name</td>
        <td>@record.value @unit.name</td>
        <td>@record.notes</td>
        @if(record.typeR == 'M'){

        }else{
        <td><a href="@kobe.controllers.routes.RecordController.editVolume(record.id.get)">Editar</a></td>
        }
        <td><a href="@kobe.controllers.routes.RecordController.delete(record.id)">Borrar</a></td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev"><a href="@link(page)">&larr; Anterior</a></li>
        }.getOrElse {
        <li class="prev disabled"><a>&larr; Anterior</a></li> }
        <li class="current"><a>Mostrando del @(currentPage.offset + 1)
            al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a></li>
        @currentPage.next.map { page =>
        <li class="next"><a href="@link(page)">Siguiente &rarr;</a></li>
        }.getOrElse {
        <li class="next disabled"><a>Siguiente &rarr;</a></li> }
    </ul>
</div>
}