@(currentPage : util.Page[(kobe.model.Record,kobe.model.Serie,kobe.model.Unit,kobe.model.Exercise)], currentOrderBy: Int, currentFilter: String, plans: Seq[kobe.model.Plan], sessions: Seq[kobe.model.Session])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
kobe.controllers.routes.RecordController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("mark.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong> </div> }
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong> </div> }
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se listan los Registros almacenados.
    <br>Podemos distinguir cada registro por la Serie, Sesión y Plan al que pertenecen, el Ejercicio del que se obtiene
    ese registro y se distingue si es un volumen porque esta resaltado en negrita o una marca en su defecto

</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h3>Registros</h3>
<table class="table table-striped">
    <tr>
        <th>Serie</th>
        <th>Ejercicio</th>
        <th>Volumen</th>
        <th>Notas</th>
        <th></th><th></th>
    </tr>
    @for((record,serie,unit,exercise) <- currentPage.items){
    <tr>
        @for(plan <- plans){
        @for(session <- sessions.filter(_.idPlan == plan.id.get).filter(_.id.get == serie.idSession)){
        <td>@plan.name>@session.name-
            <a href="@kobe.controllers.routes.SerieController.edit(serie.id.get)">@serie.id</a></td>
        }}
        <td>@exercise.name</td>
        <td>@if(record.typeR == "V"){- <b>@record.value @unit.name</b> -}else{@record.value @unit.name}</td>
        <td>@record.notes</td>
        <td>@if(record.typeR == "V"){
        <a href="@kobe.controllers.routes.RecordController.editVolume(record.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>  }</td>
        <td> <a href="@kobe.controllers.routes.RecordController.delete(record.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar"></a> </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a> }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a> }.getOrElse {|}
</div>
}