@(playerForm: Form[mcgrady.model.Player])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("player.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden añadir Jugadores al sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="player-data-form" role="form" action=@mcgrady.controllers.routes.PlayerController.save() method="post" autocomplete="off">
    <h2>Nuevo Jugador</h2>
    <fieldset >
        <br/>
        <table align="center">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Apodo</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="first_name" name="first_name" value="" placeholder="Nombre">
                </td>
                <td>
                    <input type="text" id="last_name" name="last_name" value="" placeholder="Apellido" required>
                </td>
                <td>
                    <input type="text" id="nick_name" name="nick_name" value="" placeholder="Apodo">
                </td>
            </tr>
            <tr>
                <th>Altura</th>
                <th>Peso</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="height" name="height" value="" placeholder="Altura"  onchange="validateNumber('height','btn-submit')">
                </td>
                <td>
                    <input type="text" id="weight" name="weight" value="" placeholder="Peso"  onchange="validateNumber('weight','btn-submit')">
                </td>
                <td align="center">
                    <input type="text" id="description" name="description" value="" placeholder="Descripción">
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button> o
            <a href=@mcgrady.controllers.routes.PlayerController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
