@(gameForm: Form[mcgrady.model.Game], players: Seq[mcgrady.model.Player], inscriptions: Seq[mcgrady.model.Inscription], arenas: Seq[mcgrady.model.Arena], teams: Seq[mcgrady.model.Team],id:Long, competitions: Seq[mcgrady.model.Competition], seasons: Seq[mcgrady.model.Season], contracts: Seq[mcgrady.model.Contract])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._
@import java.math.BigInteger; var teamHome=0; var teamAway=0
@main(Messages("game.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.GameController.add(id)) {
    Competición:<select id="competition" name="id">
        @for(comp <- competitions){ @if(id != "%" && comp.id.get == id){
        <option value=@id selected>
            @for(season <- seasons){@if(comp.idSeason == season.id.get ){@season.year-}}@comp.abrv</option>
        }else{<option value=@comp.id>
            @for(season <- seasons){@if(comp.idSeason == season.id.get ){@season.year-}}@comp.abrv</option>}
        }
    </select>
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    }
</div>
<form id="game-data-form" role="form" action=@mcgrady.controllers.routes.GameController.save() method="post" autocomplete="off">
    <fieldset >
        <label>Nuevo Partido</label>
        <br/>
        <table align="center">
            <tr>
                <th>Fecha</th>
                <th>Anfitrión</th>
                <th>Visitante</th>
                <th>Estadio</th>
            </tr>
            <tr>
                <td align="center">
                    <input type="date" id="date" name="date" step="1" min="2000-01-01" max="2050-12-31" value="2017-06-30">
                </td>
                <td>
                    <select id="id_home" name="id_home">
                        @for(inscription <- inscriptions){ @for(team <- teams.filter(_.id.get==inscription.idTeam)){
                        <option value="@inscription.id">@team.name</option> }}
                    </select>
                </td>
                <td>
                    <select id="id_visitor" name="id_visitor">
                        @for(inscription <- inscriptions){ @for(team <- teams.filter(_.id.get==inscription.idTeam)){
                        <option value="@inscription.id">@team.name</option> }}
                    </select>
                </td>
                <td>
                    <select id="id_arena" name="id_arena">
                        <option value=""></option>
                        @for(arena <- arenas){<option value="@arena.id">@arena.name</option>}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Ganador</th>
                <th>MVP</th>
                <th colspan="2">Descripción</th>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="winner1" name="winner" value="H" >Anfitrión<br>
                    <input type="radio" id="winner2" name="winner" value="A" >Visitante<br>
                </td>
                <td>
                    <select id="mvp" name="mvp">
                        <option value=""></option>
                        @for(inscription <- inscriptions.sortBy(x => x.idTeam)){ @for(player<-players){
                        @for(contract<-contracts.filter(_.idTeam == inscription.idTeam).filter(_.idPlayer == player.id.get)){
                        <option value="@player.id">@player.firstName @player.lastName</option> }}}
                    </select>
                </td>
                <td colspan="2" align="center">
                    <input type="text" id="description" name="description" value="" placeholder="Descripción" >
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button> o
            <a href=@mcgrady.controllers.routes.GameController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
