@(seasonForm: Form[mcgrady.model.Season], years: Seq[String])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("season.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden añadir Temporadas al sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="season-data-form" role="form" action=@mcgrady.controllers.routes.SeasonController.save() method="post" autocomplete="off">
    <h2>Nueva Temporada</h2>
    <fieldset >
        <br/>
        <table align="center">
            <tr>
                <th>Año</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>
                    <select id="year" name="year">
                        @for(year <- years){ <option value=@year>@year</option> }
                    </select>
                </td>
                <td>
                    <textarea id="description" name="description" value="" placeholder="Descripción" ></textarea>
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
