@(subGroupForm: Form[mcgrady.model.SubGroup],groups: Seq[mcgrady.model.Group],competitions: Seq[mcgrady.model.Competition],seasons: Seq[mcgrady.model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("subGroup.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden a&ntilde;adir SubGrupos al sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="subGroup-data-form" action=@mcgrady.controllers.routes.SubGroupController.save() method="post" autocomplete="off">
    <h2>Nuevo SubGrupo</h2>
    <fieldset >
        <br/>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Grupo</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="name" name="name" value="" placeholder="Nombre">
                </td>
                <td>
                    <select id="id_group" name="id_group">
                        @for(season <- seasons.sortWith(_.year > _.year)){
                        @for(competition <- competitions.sortBy(_.abrv).filter(_.idSeason==season.id.get)){
                        @for(group <- groups.sortBy(_.name).filter(_.idCompetition == competition.id.get)){
                        <option label="@season.year-@competition.abrv/@group.name" value="@group.id">
                            @season.year-@competition.abrv/@group.name</option>
                        }}}
                    </select>
                </td>
                <td>
                    <input type="text" id="notes" name="notes" value="" placeholder="Notas">
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">A&ntilde;adir</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
