@(contractForm: Form[mcgrady.model.Contract], players: Seq[mcgrady.model.Player], teams: Seq[mcgrady.model.Team])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("contract.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden registrar Contratos entre Equipos y Jugadores
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="contract-data-form" action=@mcgrady.controllers.routes.ContractController.save() method="post" autocomplete="off">
    <h2>Nuevo Contrato</h2>
    <fieldset >
        <br>
        <table>
            <tr>
                <th>Jugador</th>
                <th>Equipo</th>
                <th>Número</th>
                <th>Comienzo</th>
                <th>Fin</th>
            </tr>
            <tr>
                <td>
                    <select id="id_player" name="id_player">
                        @for(player <- players.sortBy(x=> x.firstName)){
                        <option label="@player.firstName @player.lastName" value="@player.id">
                            @player.firstName @player.lastName</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="id_team" name="id_team">
                        @for(team <- teams){
                        <option label="@team.name" value="@team.id">@team.name</option>
                        }
                    </select>
                </td>
                <td><input type="text" id="number" name="number" value ="" placeholder="00" onchange="validateNumber('number','btn-submit')"></td>
                <td>
                    <input type="date" id="init_date" name="init_date" step="1" min="2000-01-01" max="2050-12-31" value="2016-09-01" onchange="validateDate('init_date','btn-submit')">
                </td>
                <td>
                    <input type="date" id="end_date" name="end_date" step="1" min="2000-01-01" max="2050-12-31" value="2017-06-30" onchange="validateDate('end_date','btn-submit')">
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
