@(inscriptionForm: Form[mcgrady.model.Inscription],teams: Seq[mcgrady.model.Team],subGroups: Seq[mcgrady.model.SubGroup],arenas: Seq[mcgrady.model.Arena],groups: Seq[mcgrady.model.Group],competitions: Seq[mcgrady.model.Competition],seasons: Seq[mcgrady.model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._
@import java.math.BigInteger; var compCount=0; var groupCount=0
@main(Messages("inscription.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden registrar Inscripciones de Equipos en Competiciones
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="inscription-data-form" action=@mcgrady.controllers.routes.InscriptionController.save() method="post" autocomplete="off">
    <h2>Nueva Inscripci&oacute;n</h2>
    <fieldset >
        <br/>
        <table>
            <tr>
                <th>Equipo</th>
                <th>Asignaci&oacute;n</th>
                <th>Estadio</th>
            </tr>
            <tr>
                <td>
                    <select id="id_team" name="id_team">
                        @for(team <- teams){ <option label="@team.name" value="@team.id">@team.name</option> }
                    </select>
                </td>
                <td>
                    <input type="hidden" id="id_competition" name="id_competition" value="">
                    <input type="hidden" id="id_group" name="id_group" value="">
                    <input type="hidden" id="id_subgroup" name="id_subgroup" value="">
                    @for(competition <- competitions){ @for(season <- seasons.filter(_.id.get == competition.idSeason)){
                    @for(group <- groups.filter(_.idCompetition==competition.id.get)){
                    @{groupCount = 0}
                    @for(subGroup <- subGroups.filter(_.idGroup==group.id.get)){
                    @{groupCount += 1}
                    <input type="hidden" id="CS-@subGroup.id" value="@competition.id">
                    <input type="hidden" id="GS-@subGroup.id" value="@group.id">
                    }
                    @if(groupCount==0){ <input type="hidden" id="CG-@group.id" value="@competition.id"> }}}}
                    <select id="asignation" onchange="inscription()">
                        <option id="E" label="-Seleccionar-" value="">-Seleccionar-</option>
                        @for(season <- seasons.sortWith(_.year > _.year)){
                        @for(competition <- competitions.sortBy(_.abrv).filter(_.idSeason == season.id.get)){
                        @{compCount = 0}
                        @for(group <- groups.filter(_.idCompetition == competition.id.get)){
                        @{compCount += 1} @{groupCount = 0}
                        @for(subGroup <- subGroups.filter(_.idGroup==group.id.get)){
                        @{groupCount += 1}
                        <option id="S-@subGroup.id" label="@season.year-@competition.abrv/@group.name-@subGroup.name" value="@subGroup.id">
                            @season.year-@competition.abrv/@group.name-@subGroup.name</option>
                        }
                        @if(groupCount==0){
                        <option id="G-@group.id" label="@season.year-@competition.abrv/@group.name" value="@group.id">
                            @season.year-@competition.abrv/@group.name</option>
                        }}
                        @if(compCount==0){
                        <option id="C-@competition.id" label="@season.year-@competition.abrv" value="@competition.id">
                            @season.year-@competition.abrv</option>
                        }}}
                    </select>
                </td>
                <td>
                <select id="id_arena" name="id_arena">
                    <option label=" " value=""></option>
                    @for(arena <- arenas){ <option label="@arena.name" value="@arena.id">@arena.name</option> }
                </select>
            </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">A&ntilde;adir</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
