@(playerStatsForm: Form[mcgrady.model.PlayerStats], games: Seq[mcgrady.model.Game], players: Seq[mcgrady.model.Player],teams: Seq[mcgrady.model.Team],inscriptions: Seq[mcgrady.model.Inscription],id:Long, competitions: Seq[mcgrady.model.Competition], seasons: Seq[mcgrady.model.Season], contracts: Seq[mcgrady.model.Contract], sf: java.text.SimpleDateFormat)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("playerStats.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden crear Líneas estadísticas de Jugadores
    <br><b>ATENCIÓN!</b> Los Tiros de Campo son la suma de los Triples más los Tiros de Dos.
    <br>En tiros de campo se debe introducir la suma de los tiros de 2 y los tiros de 3 (Anotados o Intentados en cada
    caso)
    <br>En las pantallas de visualización el programa realiza el calculo automaticamente para mostrar adecuadamente
    los datos
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br><b>TC</b> -> Tiros de Campo
    <br><b>T3</b> -> Tiros de Tres
    <br><b>TL</b> -> Tiros Libres
</div>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.PlayerStatsController.add(id)) {
    Competición:<select id="competition" name="id">
    @for(comp <- competitions){ @if(id != "%" && comp.id.get == id){
    <option value=@id selected>
        @for(season <- seasons.filter(_.id.get == comp.idSeason)){@season.year-}@comp.abrv</option>
    }else{<option value=@comp.id>
    @for(season <- seasons.filter(_.id.get == comp.idSeason)){@season.year-}@comp.abrv</option>}
    }
</select>
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    }
</div>
<form id="playerStats-data-form" role="form" action=@mcgrady.controllers.routes.PlayerStatsController.save() method="post" autocomplete="off">
    <h2>Nueva Línea Estadística</h2>
    <fieldset >
        <br/>
        <table align="center">
            <tr>
                <th colspan="2">Partido</th>
                <th>Jugador</th>
                <th>Minutos</th>
            </tr>
            <tr>
                <td colspan="2">
                    <select id="id_game" name="id_game">
                        @for(game <- games){
                        @for(homeI <- inscriptions.filter(_.id.get==game.idHome)){
                        @for(awayI <- inscriptions.filter(_.id.get==game.idVisitor)){
                        @for(home <- teams.filter(_.id.get==homeI.idTeam)){
                        @for(away <- teams.filter(_.id.get==awayI.idTeam)){
                        <option value="@game.id">@sf.format(game.dateGame) - @home.abrv vs @away.abrv</option>
                        }}}}}
                    </select>
                </td>
                <td>
                    <select id="id_player" name="id_player">
                        @for(inscription <- inscriptions.sortBy(x => x.idTeam)){ @for(player<-players){
                        @for(contract<-contracts.filter(_.idTeam == inscription.idTeam).filter(_.idPlayer == player.id.get)){
                        <option value="@player.id">@player.firstName @player.lastName</option> }}}
                    </select>
                </td>
                <td><input type="text" id="minutes" name="minutes" value="" placeholder="Minutos" onchange="validateNumber('minutes','btn-submit')"></td>
            </tr>
            <tr>
                <th>Puntos</th>
                <th>TC Anotados</th>
                <th>T3 Anotados</th>
                <th>TL Anotados</th>
            </tr>
            <tr>
                <td><input type="text" id="points" name="points" value="" placeholder="Puntos" onchange="validateNumber('points','btn-submit')"></td>
                <td><input type="text" id="fg_made" name="fg_made" value="" placeholder="TCampo Conseguidos" onchange="validateNumber('fg_made','btn-submit')"></td>
                <td><input type="text" id="t3_made" name="t3_made" value="" placeholder="Triple Conseguidos" onchange="validateNumber('t3_made','btn-submit')"></td>
                <td><input type="text" id="ft_made" name="ft_made" value="" placeholder="Libre Conseguidos" onchange="validateNumber('ft_made','btn-submit')"></td>
            </tr>
            <tr>
                <th>Asistencias</th>
                <th>TC Intentados</th>
                <th>T3 Intentados</th>
                <th>TL Intentados</th>
            </tr>
            <tr>
                <td><input type="text" id="assists" name="assists" value="" placeholder="Asistencias" onchange="validateNumber('assists','btn-submit')"></td>
                <td><input type="text" id="fg_attemped" name="fg_attemped" value="" placeholder="TCampo Intentados" onchange="validateNumber('fg_attemped','btn-submit')"></td>
                <td><input type="text" id="t3_attemped" name="t3_attemped" value="" placeholder="Triple Intentados" onchange="validateNumber('t3_attemped','btn-submit')"></td>
                <td><input type="text" id="ft_attemped" name="ft_attemped" value="" placeholder="Libre Intentados" onchange="validateNumber('ft_attemped','btn-submit')"></td>
            </tr>
            <tr>
                <th>Reb Ofensivos</th>
                <th>Reb Defensivos</th>
                <th>Tapones</th>
                <th>Robos</th>
            </tr>
            <tr>
                <td><input type="text" id="off_rebounds" name="off_rebounds" value="" placeholder="Reb Ofensivos" onchange="validateNumber('off_rebounds','btn-submit')"></td>
                <td><input type="text" id="def_rebounds" name="def_rebounds" value="" placeholder="Reb Defensivos" onchange="validateNumber('def_rebounds','btn-submit')"></td>
                <td><input type="text" id="blocks" name="blocks" value="" placeholder="Tapones" onchange="validateNumber('blocks','btn-submit')"></td>
                <td><input type="text" id="steals" name="steals" value="" placeholder="Robos" onchange="validateNumber('steals','btn-submit')"></td>
            </tr>
            <tr>
                <th>Faltas</th>
                <th>Técnicas</th>
                <th>Flagrantes</th>
                <th>Pérdidas</th>
            </tr>
            <tr>
                <td><input type="text" id="fouls" name="fouls" value="" placeholder="Faltas" onchange="validateNumber('fouls','btn-submit')"></td>
                <td><input type="text" id="tech_fouls" name="tech_fouls" value="" placeholder="Técnicas" onchange="validateNumber('tech_fouls','btn-submit')"></td>
                <td><input type="text" id="flag_fouls" name="flag_fouls" value="" placeholder="Flagrantes" onchange="validateNumber('flag_fouls','btn-submit')"></td>
                <td><input type="text" id="turnovers" name="turnovers" value="" placeholder="Pérdidas" onchange="validateNumber('turnovers','btn-submit')"></td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
