@(id: Long, competitionForm: Form[mcgrady.model.Competition], countries: Seq[mcgrady.model.Country], seasons: Seq[mcgrady.model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("competition.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Competiciones presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="competition-data-form" action=@mcgrady.controllers.routes.CompetitionController.update(id) method="post" autocomplete="off">
    <h2>Editando Competici&oacute;n</h2>
    <fieldset >
        <table>
            <tr>
                <th>Temporada</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
            </tr>
            <tr>
                <td>
                    @defining(competitionForm("id_season").value) { seasonValue=>
                    <select id="id_season" name="id_season">
                        @for(season <- seasons){
                        @if(seasonValue.isDefined && season.id.get == seasonValue.get.toLong){
                        <option selected="selected" value="@season.id">@season.year</option>
                        }else{
                        <option value="@season.id">@season.year</option>
                        }}
                    </select>
                    }
                </td>
                <td>
                    @defining(competitionForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre" required>
                    }
                </td>
                <td>
                    @defining(competitionForm("abbreviation").value){ abbreviationValue=>
                    <input type="text" id="abbreviation" name="abbreviation" value="@abbreviationValue" placeholder="Abreviatura" required>
                    }
                </td>
            </tr>
            <tr>
                <th>Divisi&oacute;n</th>
                <th>Pa&iacute;s</th>
                <th>Descripci&oacute;n</th>
            </tr>
            <tr>
                <td>
                    @defining(competitionForm("division").value){ divisionValue=>
                    <input type="text" id="division" name="division"  value="@divisionValue">
                    }
                </td>
                <td>
                    @defining(competitionForm("id_country").value) { countryValue=>
                    <select id="id_country" name="id_country">
                        @if(countryValue == None){
                        <option label=" " selected="selected" value = ""></option>
                        }else{
                        <option label=" " value = ""></option>
                        }
                        @for(country <- countries){
                            @if(countryValue.isDefined && country.id == countryValue.get.toLong){
                        <option selected="selected" value="@country.id">@country.name</option>
                            }else{
                        <option value="@country.id">@country.name</option>
                            }
                        }
                    </select>
                    }
                </td>
                <td>
                    @defining(competitionForm("description").value){ descriptionValue=>
                    <textarea id="description" name="description">@descriptionValue</textarea>
                    }
                </td>
            </tr>
            <tr>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Fin</th>
            </tr>
            <tr>
                <td>
                    @defining(competitionForm("type").value){ typeValue=>
                    <input type="text" id="type" name="type"  value="@typeValue" required>
                    }
                </td>
                <td>
                    @defining(competitionForm("init_date").value){ initDateValue=>
                    <input type="date" id="init_date" name="init_date"  value="@initDateValue" onchange="validateDate('init_date','btn-submit')">
                    }
                </td>
                <td>
                    @defining(competitionForm("end_date").value){ endDateValue=>
                    <input type="date" id="end_date" name="end_date"  value="@endDateValue" onchange="validateDate('end_date','btn-submit')">
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Guardar Competicion</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.CompetitionController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Competicion" class="btn danger">
}

}