@(id: Long, playerForm: Form[mcgrady.model.Player])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("player.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Jugadores presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="player-data-form" role="form" action=@mcgrady.controllers.routes.PlayerController.update(id) method="post" autocomplete="off">
    <h2>Editando Jugador</h2>
    <fieldset>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Apodo</th>
            </tr>
            <tr>
                <td>
                    @defining(playerForm("first_name").value){ firstNameValue=>
                    <input type="text" id="first_name" name="first_name" value="@firstNameValue" placeholder="Nombre">
                    }
                </td>
                <td>
                    @defining(playerForm("last_name").value){ lastNameValue=>
                    <input type="text" id="last_name" name="last_name" value="@lastNameValue" placeholder="Apellido" required>
                    }
                </td>
                <td>
                    @defining(playerForm("nick_name").value){ nickNameValue=>
                    <input type="text" id="nick_name" name="nick_name" value="@nickNameValue" placeholder="Apodo">
                    }
                </td>
            </tr>
            <tr>
                <th>Altura</th>
                <th>Peso</th>
                <th>Descripción</th>
            </tr>

            <tr>
                <td>
                    @defining(playerForm("height").value){ heightValue=>
                    <input type="text" id="height" name="height" value="@heightValue" placeholder="Altura" onchange="validateNumber('height','btn-submit')">
                    }
                </td>
                <td>
                    @defining(playerForm("weight").value){ weightValue=>
                    <input type="text" id="weight" name="weight" value="@weightValue" placeholder="Peso" onchange="validateNumber('weight','btn-submit')">
                    }
                </td>
                <td align="center">
                    @defining(playerForm("description").value){ descriptionValue=>
                    <input type="text" id="description" name="description" value="@descriptionValue">
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Guardar Jugador</button>
            o
            <a href=@mcgrady.controllers.routes.PlayerController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.PlayerController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Jugador" class="btn danger">
}

}
