@(id: Long, contractForm: Form[mcgrady.model.Contract], players: Seq[mcgrady.model.Player], teams: Seq[mcgrady.model.Team])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("contract.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Contratos registrados en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="contract-data-form" role="form" action=@mcgrady.controllers.routes.ContractController.update(id) method="post" autocomplete="off">
    <h2>Editando Contratos</h2>
    <fieldset >
        <table>
            <tr>
                <th>Jugador</th>
                <th>Equipo</th>
                <th>Número</th>
                <th>Comienzo</th>
                <th>Fin</th>
            </tr>
            <tr>
                <td>
                    @defining(contractForm("id_player").value) { playerValue=>
                    <select id="id_player" name="id_player">
                        @for(player <- players){
                            @if(playerValue.isDefined && player.id.get == playerValue.get.toLong){
                    <option selected="selected" value="@player.id">@player.lastName</option>
                            }else{
                    <option value="@player.id">@player.firstName @player.lastName</option>
                            }
                        }
                    </select>
                    }
                </td>
                <td>
                    @defining(contractForm("id_team").value) { teamValue=>
                    <select id="id_team" name="id_team">
                        @for(team <- teams){
                            @if(teamValue.isDefined && team.id.get == teamValue.get.toLong){
                    <option selected="selected" value="@team.id">@team.name</option>
                            }else{
                    <option value="@team.id">@team.name</option>
                            }
                        }
                    </select>
                    }
                </td>
                <td>
                    @defining(contractForm("number").value){ numberValue=>
                    <input type="text" id="number" name="number" value="@numberValue" placeholder="Número" onchange="validateNumber('number','btn-submit')">
                    }
                </td>
                <td align="center">
                    @defining(contractForm("init_date").value){ initDateValue=>
                        @if(initDateValue.isDefined){
                    <input type="date" id="init_date" name="init_date" step="1" min="2000-01-01" max="2050-12-31" value="@initDateValue.get" onchange="validateDate('init_date','btn-submit')">
                        }else{
                    <input type="date" id="init_date" name="init_date" step="1" min="2000-01-01" max="2050-12-31" value="" onchange="validateDate('init_date','btn-submit')">
                        }
                    }
                </td>
                <td>
                    @defining(contractForm("end_date").value){ endDateValue=>
                        @if(endDateValue.isDefined){
                    <input type="date" id="end_date" name="end_date" step="1" min="2000-01-01" max="2050-12-31" value="@endDateValue.get" onchange="validateDate('end_date','btn-submit')">
                        }else{
                    <input type="date" id="end_date" name="end_date" step="1" min="2000-01-01" max="2050-12-31" value="" onchange="validateDate('end_date','btn-submit')">
                        }
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Guardar Contrato</button> o
            <a href=@mcgrady.controllers.routes.ContractController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.ContractController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Contrato" class="btn danger">
}

}
