@(id: Long, groupForm: Form[mcgrady.model.Group],competitions: Seq[mcgrady.model.Competition],seasons: Seq[mcgrady.model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("group.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Grupos presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="group-data-form" role="form" action=@mcgrady.controllers.routes.GroupController.update(id) method="post" autocomplete="off">
    <h2>Editando Grupo</h2>
    <fieldset>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Competición</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    @defining(groupForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre">
                    }
                </td>
                <td>
                    @defining(groupForm("id_competition").value) { competitionValue=>
                    <select id="id_competition" name="id_competition">
                        @for(competition <- competitions){
                        @if(competitionValue.isDefined && competition.id.get == competitionValue.get.toLong){
                        @for(season <- seasons){ @if(season.id.get == competition.idSeason){
                        <option selected="selected" value="@competition.id">@season.year-@competition.abrv</option>
                        }else{ <option value="@competition.id">@season.year-@competition.abrv</option>}}}}
                    </select>
                    }
                </td>
                <td>
                    @defining(groupForm("notes").value){ notesValue=>
                    <input type="text" id="notes" name="notes" value="@notesValue">
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Grupo</button>
            o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.GroupController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Grupo" class="btn danger">
}

}
