@(id: Long, arenaForm: Form[mcgrady.model.Arena], countries: Seq[mcgrady.model.Country])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("arena.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Estadios presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="arena-data-form" role="form" action=@mcgrady.controllers.routes.ArenaController.update(id) method="post" autocomplete="off">
    <h2>Editando Estadio</h2>
    <fieldset >
        <br/>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>País</th>
            </tr>
            <tr>
                <td>
                    @defining(arenaForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre" required>
                    }
                </td>
                <td align="center">
                    @defining(arenaForm("direction").value){ directionValue=>
                    <input type="text" id="direction" name="direction"  value="@directionValue">
                    }
                </td>
                <td>
                    @defining(arenaForm("id_country").value) { countryValue=>
                    <select id="id_country" name="id_country">
                        @if(countryValue == None){
                        <option selected="selected" value = ""></option>
                        }else{
                        <option value = ""></option>
                        }
                        @for(country <- countries){
                        @if(countryValue.isDefined && country.id == countryValue.get.toLong){
                        <option selected="selected" value="@country.id">@country.name</option>
                        }else{
                        <option value="@country.id">@country.name</option>
                        }
                        }
                    </select>
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Estadio</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.ArenaController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Estadio" class="btn danger">
}

}
