@(id: Long, gameForm: Form[mcgrady.model.Game], players: Seq[mcgrady.model.Player], inscriptions: Seq[mcgrady.model.Inscription],arenas: Seq[mcgrady.model.Arena],teams: Seq[mcgrady.model.Team],idComp: Long, competitions: Seq[mcgrady.model.Competition], seasons: Seq[mcgrady.model.Season], contracts: Seq[mcgrady.model.Contract])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("game.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Partidos presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h2>Editando Partido</h2>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.GameController.edit(id,idComp)) {
    Competici&oacute;n:<select id="competition" name="idComp">
    @for(comp <- competitions){ @if(idComp != "%" && comp.id.get == idComp){
    <option value=@id selected>@for(season <- seasons){@if(comp.idSeason == season.id.get ){@season.year-}}@comp.abrv</option>
    }else{<option value=@comp.id>@for(season <- seasons){@if(comp.idSeason == season.id.get ){@season.year-}}@comp.abrv</option>}
    }
    </select>
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    }
</div>
<form id="game-data-form" action=@mcgrady.controllers.routes.GameController.update(id) method="post" autocomplete="off">

    <fieldset >
        <table>
            <tr>
                <th>Fecha</th>
                <th>Anfitri&oacute;n</th>
                <th>Visitante</th>
                <th>Estadio</th>
            </tr>
            <tr>
                <td>
                    @defining(gameForm("date").value){ dateValue=>
                    @if(dateValue.isDefined){
                    <input type="date" id="date" name="date" step="1" min="2000-01-01" max="2050-12-31" value="@dateValue.get" onchange="validateDate('date','btn-submit')">
                    }else{
                    <input type="date" id="date" name="date" step="1" min="2000-01-01" max="2050-12-31" value="" onchange="validateDate('date','btn-submit')">
                    }}
                </td>
                <td>
                    @defining(gameForm("id_home").value) { homeValue=>
                    <select id="id_home" name="id_home">
                        @for(inscription <- inscriptions){
                        @if(homeValue.isDefined && inscription.id.get == homeValue.get.toLong){
                        @for(team <- teams.filter(_.id.get==inscription.idTeam)){
                        <option selected="selected" value="@inscription.id">@team.name</option>
                        }}else{ @for(team <- teams.filter(_.id.get==inscription.idTeam)){
                        <option value="@inscription.id">@team.name</option> }}}
                    </select>
                    }
                </td>
                <td>
                    @defining(gameForm("id_visitor").value) { visitorValue=>
                    <select id="id_visitor" name="id_visitor">
                        @for(inscription <- inscriptions){
                        @if(visitorValue.isDefined && inscription.id.get == visitorValue.get.toLong){
                        @for(team <- teams.filter(_.id.get==inscription.idTeam)){
                        <option selected="selected" value="@inscription.id">@team.name</option>
                        }}else{ @for(team <- teams.filter(_.id.get==inscription.idTeam)){
                        <option value="@inscription.id">@team.name</option> }}}
                    </select>
                    }
                </td>
                <td>
                    @defining(gameForm("id_arena").value) { arenaValue=>
                    <select id="id_arena" name="id_arena">
                        @if(arenaValue == None){ <option selected="selected" label=" " value = ""></option>
                        }else{ <option label=" " value=""></option> }
                        @for(arena <- arenas){ @if(arenaValue.isDefined && arena.id.get == arenaValue.get.toLong){
                        <option selected="selected" value="@arena.id">@arena.name</option>
                        }else{ <option value="@arena.id">@arena.name</option> }}
                    </select>
                    }
                </td>
            </tr>
            <tr>
                <th>Ganador</th>
                <th>MVP</th>
                <th colspan="2">Descripci&oacute;n</th>
            </tr>
            <tr>
                <td>
                    @defining(gameForm("winner").value) { winnerValue=>
                    @if("H" == winnerValue.toString){
                    <input type="radio" id="winner1" name="winner" value="H" checked>Anfitri&oacute;n<br>
                    <input type="radio" id="winner2" name="winner" value="A">Visitante<br>
                    }else{ @if("V" == winnerValue.toString){
                    <input type="radio" id="winner3" name="winner" value="H">Anfitri&oacute;n<br>
                    <input type="radio" id="winner4" name="winner" value="A" checked>Visitante<br>
                    }else{
                    <input type="radio" id="winner5" name="winner" value="H">Anfitri&oacute;n<br>
                    <input type="radio" id="winner6" name="winner" value="A">Visitante<br>
                    }}}
                </td>
                <td>
                    @defining(gameForm("mvp").value) { playerValue=>
                    <select id="mvp" name="mvp">
                        @if(playerValue == None){ <option selected="selected" label=" " value = ""></option>
                        }else{ <option label=" " value = ""></option> }
                        @for(inscription <- inscriptions){ @for(player<-players){
                        @for(contract<-contracts.filter(_.idTeam == inscription.idTeam).filter(_.idPlayer == player.id.get)){
                        @if(playerValue.isDefined && player.id.get == playerValue.get.toLong){
                        <option selected="selected" value="@player.id">@player.firstName @player.lastName</option>
                        }else{ <option value="@player.id">@player.firstName @player.lastName</option> } }}}
                    </select>
                    }
                </td>
                <td colspan="2">
                    @defining(gameForm("description").value){ descriptionValue=>
                    <textarea id="description" name="description">@descriptionValue</textarea>
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button id="btn-submit" type="submit" class="btn btn-primary ynt-btn-orange">Guardar Partido</button> o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.GameController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Partido" class="btn danger">
}
}
