@(id: Long, groupForm: Form[mcgrady.model.Group],competitions: Seq[mcgrady.model.Competition],seasons: Seq[mcgrady.model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("group.title")){

<form id="group-data-form" role="form" action=@mcgrady.controllers.routes.GroupController.update(id) method="post" autocomplete="off">
    <fieldset>
        <label>Grupos</label>
        <br/>
        <table align="center">
            <tr>
                <th>Nombre</th>
                <th>Competición</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    @defining(groupForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre">
                    }
                </td>
                <td>
                    @defining(groupForm("id_competition").value) { competitionValue=>
                    <select id="id_competition" name="id_competition">
                        @for(competition <- competitions){
                            @if(competitionValue != None && competition.id.get == competitionValue.get.toLong){
                        @for(season <- seasons){
                        @if(season.id == competition.id_season){
                    <option selected="selected" value="@competition.id">@season.year-@competition.name</option>
                            }else{
                    <option value="@competition.id">@season.year-@competition.name</option>
                            }
                        }
                        }
                        }
                    </select>
                    }
                </td>
                <td>
                    @defining(groupForm("notes").value){ notesValue=>
                    <input type="text" id="notes" name="notes" value="@notesValue">
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Grupo</button>
            o
            <a href=@mcgrady.controllers.routes.GroupController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.GroupController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Grupo" class="btn danger">
}

}
