@(id: Long, inscriptionForm: Form[mcgrady.model.Inscription],teams: Seq[mcgrady.model.Team],subgroups: Seq[mcgrady.model.SubGroup],arenas: Seq[mcgrady.model.Arena],groups: Seq[mcgrady.model.Group],competitions: Seq[mcgrady.model.Competition],seasons: Seq[mcgrady.model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@import java.math.BigInteger; var compCount=0; var groupCount=0
@main(Messages("inscription.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar Inscripciones registradas en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="group-data-form" role="form" action=@mcgrady.controllers.routes.InscriptionController.update(id) method="post" autocomplete="off">
    <h2>Editando Inscripción</h2>
    <fieldset>
        <table>
            <tr>
                <th>Equipo</th>
                <th>Asignación</th>
                <th>Arena</th>
            </tr>
            <tr>
                <td>
                    @defining(inscriptionForm("id_team").value) { teamValue=>
                    <select id="id_team" name="id_team">
                        @for(team <- teams){ @if(teamValue.isDefined && team.id.get == teamValue.get.toLong){
                        <option selected="selected" value="@team.id">@team.name</option> }else{
                        <option value="@team.id">@team.name</option>}}
                    </select>
                    }
                </td>
                <td>
                    @defining(inscriptionForm("id_competition").value) { competitionValue=>
                    @defining(inscriptionForm("id_group").value) { groupValue=>
                    @defining(inscriptionForm("id_subgroup").value) { subgroupValue=>
                    <input type="hidden" id="id_competition" name="id_competition" value="@competitionValue">
                    @if(groupValue.isDefined){
                    <input type="hidden" id="id_group1" name="id_group" value="@groupValue">}else{
                    <input type="hidden" id="id_group2" name="id_group" value="">}
                    @if(subgroupValue.isDefined){
                    <input type="hidden" id="id_subgroup1" name="id_subgroup" value="@subgroupValue">
                    }else{ <input type="hidden" id="id_subgroup2" name="id_subgroup" value="">}
                    @for(season <- seasons){
                    @for(competition <- competitions.filter(_.idSeason==season.id.get)){
                    @for(group <- groups.filter(_.idCompetition==competition.id.get)){ @{groupCount = 0}
                    @for(subGroup <- subgroups.filter(_.idGroup==group.id.get)){
                    @{groupCount += 1}
                    <input type="hidden" id="CS-@subGroup.id" value="@competition.id">
                    <input type="hidden" id="GS-@subGroup.id" value="@group.id">
                    }
                    @if(groupCount==0){ <input type="hidden" id="CG-@group.id" value="@competition.id"> }
                    }}}
                    <select id="asignation" onchange="inscription()">
                        <option id="E" value="">-Seleccionar-</option>
                        @for(season <- seasons){@for(competition <- competitions.filter(_.idSeason==season.id.get)){
                        @{compCount = 0}
                        @for(group <- groups.filter(_.idCompetition==competition.id.get)){ @{compCount += 1}
                        @{groupCount = 0}
                        @for(subGroup <- subgroups.filter(_.idGroup==group.id.get)){ @{groupCount += 1}
                            @if(subgroupValue.isDefined && subGroup.id.get == subgroupValue.get.toLong){
                        <option id="S-@subGroup.id" value="@subGroup.id" selected="selected">@season.year-@competition.abrv/@group.name-@subGroup.name</option>
                            }else{
                        <option id="S-@subGroup.id" value="@subGroup.id">@season.year-@competition.abrv/@group.name-@subGroup.name</option>
                            }
                        }
                        @if(groupCount == 0){
                            @if(groupValue.isDefined && group.id.get == groupValue.get.toLong){
                            <option id="G-@group.id" value="@group.id" selected="selected">@season.year-@competition.abrv/@group.name</option>
                            }else{
                            <option id="G-@group.id" value="@group.id">@season.year-@competition.abrv/@group.name</option>
                            }
                        }}
                        @if(compCount==0){ @if(competition.id.get == competitionValue.get.toLong){
                        <option id="C-@competition.id" value="@competition.id" selected="selected">@season.year-@competition.abrv</option>
                        }else{
                        <option id="C-@competition.id" value="@competition.id">@season.year-@competition.abrv</option>
                        }}}}
                    </select>
                    }}}
                </td>
                <td>
                    @defining(inscriptionForm("id_arena").value) { arenaValue=>
                    <select id="id_arena" name="id_arena">
                        <option value=""></option>
                        @for(arena <- arenas){
                        @if(arenaValue.isDefined && arena.id.get == arenaValue.get.toLong){
                        <option selected="selected" value="@arena.id">@arena.name</option>
                        }else{
                        <option value="@arena.id">@arena.name</option>
                        }}
                    </select>
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar Inscripción</button>
            o
            <a href=@mcgrady.controllers.routes.InscriptionController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.InscriptionController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar Inscripción" class="btn danger">
}

}
