@(id: Long, subGroupForm: Form[mcgrady.model.SubGroup],groups: Seq[mcgrady.model.Group],competitions: Seq[mcgrady.model.Competition],seasons: Seq[mcgrady.model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import helper._
@main(Messages("subGroup.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden editar SubGrupos presentes en el sistema
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<form id="group-data-form" action=@mcgrady.controllers.routes.SubGroupController.update(id) method="post" autocomplete="off">
    <h2>Editando SubGrupo</h2>
    <fieldset>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Grupo</th>
                <th>Notas</th>
            </tr>
            <tr>
                <td>
                    @defining(subGroupForm("name").value){ nameValue=>
                    <input type="text" id="name" name="name" value="@nameValue" placeholder="Nombre">
                    }
                </td>
                <td>
                    @defining(subGroupForm("id_group").value) { groupValue=>
                    <select id="id_group" name="id_group">
                        @for(group <- groups){
                        @if(groupValue.isDefined && group.id.get == groupValue.get.toLong){
                        @for(competition <- competitions.filter(_.id.get == group.idCompetition)){
                        @for(season <- seasons){ @if(season.id.get == competition.idSeason){
                        <option selected="selected" value="@group.id">@season.year-@competition.abrv/@group.name</option>
                        }else{<option value="@group.id">@season.year-@competition.abrv/@group.name</option>}}}}}
                    </select>
                    }
                </td>
                <td>
                    @defining(subGroupForm("notes").value){ notesValue=>
                    <input type="text" id="notes" name="notes" value="@notesValue">
                    }
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary ynt-btn-orange">Guardar SubGrupo</button>
            o
            <a href="@request.headers.get("referer")" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

@form(mcgrady.controllers.routes.SubGroupController.delete(Some(id)), 'class -> "topRight") {
<input type="submit" value="Eliminar SubGrupo" class="btn danger">
}
}
