@(currentPage : util.Page[(mcgrady.model.Competition,mcgrady.model.Country,mcgrady.model.Season)], currentOrderBy: Int, currentFilter: String, sf: java.text.SimpleDateFormat, currentYear: String, years: Seq[String])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.CompetitionController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("competition.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h3>Competiciones</h3>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.CompetitionController.list()) {
    <select id="year" name="sfil">
        @if(currentYear == "%"){<option value="" selected></option>}else{<option value=""></option>}
        @for(year <- years){
        @if(currentYear != "%" && year == currentYear){
        <option value=@currentYear selected>@currentYear</option>
        }else{<option value=@year>@year</option>}
        }
    </select>
    <input type="submit" id="searchsubmit-year" value="Filtrar" class="btn primary">
    }
    @helper.form(action=mcgrady.controllers.routes.CompetitionController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Competicion">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@mcgrady.controllers.routes.CompetitionController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Temp</th>
        <th>Nombre</th>
        <th>Abrev</th>
        <th>Div</th>
        <th>Tipo</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>País</th>
        <th>Descripción</th>
        <th></th>
    </tr>
    @for((competition,country,season) <- currentPage.items){
    <tr>
        <td><a class="td_7" href="@mcgrady.controllers.routes.SeasonController.edit(season.id.get)">@season.year</a></td>
        <td>@competition.name</td>
        <td>@competition.abrv</td>
        <td>@competition.division</td>
        <td>@competition.typeCompetition</td>
        @if(competition.initDate != None){<td>@sf.format(competition.initDate.get)</td>}else{<td></td>}
        @if(competition.endDate != None){<td>@sf.format(competition.endDate.get)</td>}else{<td></td>}
        <td>@country.name</td>
        <td>@competition.description</td>
        <td>
            <a href="@mcgrady.controllers.routes.CompetitionController.edit(competition.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@mcgrady.controllers.routes.CompetitionController.delete(competition.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar">
            </a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
}