@(currentPage : util.Page[mcgrady.model.Team], currentOrderBy: Int, currentFilter: String, countries: Seq[mcgrady.model.Country])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.TeamController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("team.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h3>Equipos</h3>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.TeamController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Equipo">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@mcgrady.controllers.routes.TeamController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Abreviatura</th>
        <th>Pais</th>
        <th></th>
    </tr>
    @for(team <- currentPage.items){
    <tr>
        <td>@team.name</td>
        <td>@team.abrv</td>
        @if(team.idCountry != None){
        @for(country <- countries){@if(country.id == team.idCountry.get){
        <td>@country.name</td>}}}else{<td></td>}
        <td>
            <a href="@mcgrady.controllers.routes.TeamController.view(team.id.get)">
                <img src=@routes.Assets.versioned("images/ver.png") alt="Visualizar">
            <a href="@mcgrady.controllers.routes.TeamController.edit(team.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@mcgrady.controllers.routes.TeamController.delete(team.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar"></a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
}