@(currentPage : util.Page[(mcgrady.model.Inscription,mcgrady.model.Team,mcgrady.model.SubGroup,mcgrady.model.Arena)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.InscriptionController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("inscription.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.InscriptionController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Inscripción">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@mcgrady.controllers.routes.InscriptionController.add()">Añadir Inscripción</a>
</div>
<table class="table table-striped">
    <tr>
        <th>Asignación</th>
        <th>Equipo</th>
        <th>Arena</th>
        <th></th>
        <th></th>
    </tr>
    @for((inscription, team, subgroup, arena) <- currentPage.items){
    <tr>
        <td><a href="@mcgrady.controllers.routes.SubGroupController.edit(subgroup.id.get)">@subgroup.name</a></td>
        <td><a href="@mcgrady.controllers.routes.TeamController.edit(team.id.get)">@team.name</a></td>
        <td><a href="@mcgrady.controllers.routes.ArenaController.edit(arena.id.get)">@arena.name</a></td>
        <td><a href="@mcgrady.controllers.routes.InscriptionController.edit(inscription.id.get)">Modificar</a></td>
        <td><a href="@mcgrady.controllers.routes.InscriptionController.delete(inscription.id)">Borrar</a></td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev"><a href="@link(page)">&larr; Anterior</a></li>
        }.getOrElse {
        <li class="prev disabled"><a>&larr; Anterior</a></li> }
        <li class="current"><a>Mostrando del @(currentPage.offset + 1)
            al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a></li>
        @currentPage.next.map { page =>
        <li class="next"><a href="@link(page)">Siguiente &rarr;</a></li>
        }.getOrElse {
        <li class="next disabled"><a>Siguiente &rarr;</a></li> }
    </ul>
</div>
}