@(currentPage : util.Page[mcgrady.model.Season], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.SeasonController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("season.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden listar las Temporadas creadas y sus detalles
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br>No hay leyenda disponible
</div>
<h3>Temporadas</h3>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.SeasonController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por año">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@mcgrady.controllers.routes.SeasonController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Año</th>
        <th class="tdnotes">Descripción</th>
        <th></th>
    </tr>
    @for(season <- currentPage.items){
    <tr>
        <td>@season.year</td>
        <td class="tdnotes">@season.description</td>
        <td>
            <a href="@mcgrady.controllers.routes.SeasonController.edit(season.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@mcgrady.controllers.routes.SeasonController.delete(season.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar"></a>
            <a href="@mcgrady.controllers.routes.CompetitionController.list(0, 2, "", season.year)">
                <img src=@routes.Assets.versioned("images/servidor.png") alt="Competiciones"></a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
<div id="navigation-back"> <a href="@request.headers.get("referer")">
    <img src=@routes.Assets.versioned("images/volver24.png") alt="Volver"></a></div>
}