@(currentPage : util.Page[(mcgrady.model.Game,mcgrady.model.Inscription,String,mcgrady.model.Inscription,String)], currentOrderBy: Int, currentFilter: String, sf: java.text.SimpleDateFormat,players:Seq[mcgrady.model.Player],arenas:Seq[mcgrady.model.Arena])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.GameController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("game.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h3>Partidos</h3>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.GameController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por Equipo">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    }<input type="hidden" name="id" value="1">
    <a class="btn success" id="add" href="@mcgrady.controllers.routes.GameController.add(1)">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Fecha</th>
        <th>Anfitrión</th>
        <th>Visitante</th>
        <th>Estadio</th>
        <th>Ganador</th>
        <th>MVP</th>
        <th>Descripción</th>
        <th></th>
    </tr>
    @for((game,home,teamH,visitor,teamV) <- currentPage.items){
    <tr>
        <td>@if(game.dateGame != None){
            @sf.format(game.dateGame)}
        </td>
        <td align="right"><a href="@mcgrady.controllers.routes.InscriptionController.edit(home.id.get)">@teamH</a></td>
        <td><a href="@mcgrady.controllers.routes.InscriptionController.edit(visitor.id.get)">@teamV</a></td>
        <td>
            @if(game.idArena != None){ @for(arena<-arenas){ @if(arena.id == game.idArena.get){
            <a href="@mcgrady.controllers.routes.ArenaController.edit(arena.id.get)">@arena.name</a>
            }}}
        </td>
        <td>
            @if(game.winner != None && game.winner.get == "H"){ @teamH
            }else {@if(game.winner != None && game.winner.get == "A"){ @teamV }}
        </td>
        <td>
            @if(game.mvp != None){ @for(mvp<-players){ @if(mvp.id.get == game.mvp.get){
            <a href="@mcgrady.controllers.routes.PlayerController.edit(mvp.id.get)">@mvp.firstName @mvp.lastName</a>
            }}}
        </td>
        <td>@game.description</td>
        <td>
            <a href="@mcgrady.controllers.routes.GameController.edit(game.id.get,home.idCompetition)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@mcgrady.controllers.routes.GameController.delete(game.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar"></a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
}