@(currentPage : util.Page[(mcgrady.model.Inscription,mcgrady.model.Team,mcgrady.model.Competition,mcgrady.model.Season)], currentOrderBy: Int, currentFilter: String, groups: Seq[mcgrady.model.Group],subgroups: Seq[mcgrady.model.SubGroup],arenas: Seq[mcgrady.model.Arena])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.InscriptionController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("inscription.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se pueden listar las inscripciones realizadas y sus detalles
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br><b>Asignación</b> -> Competición / Grupo / Subgrupo al que esta asignado un equipo
</div>
<h3>Inscripciones</h3>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.InscriptionController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de Inscripción">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@mcgrady.controllers.routes.InscriptionController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Temporada</th>
        <th>Asignación</th>
        <th>Equipo</th>
        <th>Arena</th>
        <th></th>
    </tr>
    @for((inscription, team, competition, season) <- currentPage.items){
    <tr>
        <td>@if(season.id.isDefined){ @season.year }</td>
        <td>
            @if(competition.id.isDefined){
            <a href="@mcgrady.controllers.routes.CompetitionController.view(competition.id.get)">@competition.abrv</a>}
            @if(inscription.idGroup.isDefined){
            @for(group <- groups.filter(_.id.get == inscription.idGroup.get)){
            / @group.name}}
            @if(inscription.idSubGroup.isDefined){
            @for(subgroup <- subgroups.filter(_.id.get == inscription.idSubGroup.get)){
            - @subgroup.name</a>}}
        </td>
        <td><a href="@mcgrady.controllers.routes.TeamController.edit(team.id.get)">@team.name</a></td>
        <td>
            @if(inscription.idArena.isDefined){
            @for(arena <- arenas.filter(_.id.get == inscription.idArena.get)){
            @arena.name}}
        </td>
        <td>
            <a href="@mcgrady.controllers.routes.InscriptionController.edit(inscription.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@mcgrady.controllers.routes.InscriptionController.delete(inscription.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar"></a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
}