@(currentPage : util.Page[(mcgrady.model.TeamStats,mcgrady.model.Game,mcgrady.model.Inscription,String,String,String)], currentOrderBy: Int, currentFilter: String, sf: java.text.SimpleDateFormat)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.TeamStatsController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("teamStats.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>En esta pantalla se lista la producción estadística de los equipo en sus respectivos partidos
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br><b>Pts</b> -> Puntos<br><b>T3C</b> -> Triples Conseguidos<br><b>T3I</b> -> Triples Intentados
    <br><b>TCC</b> -> Tiros de Campo Conseguidos <br><b>TCI</b> -> Tiros de Campo Intentados
    <br><b>TLC</b> -> Tiros Libros Conseguidos<br><b>TLI</b> -> Tiros Libros Intentados
    <br><b>Reb Of</b> ->Rebotes Ofensivos <br><b>Reb Def</b> -> Rebotes defensivos
    <br><b>Reb</b> -> Rebotes<br><b>Ass</b> -> Asistencias <br><b>Tap</b> -> Tapones<br><b>Rob</b> -> Robos
    <br><b>Per</b> -> Pérdidas<br><b>Fal</b> -> Faltas <br><b>Flag</b> -> Faltas Flagrantes
    <br><b>Tec</b> -> Faltas Técnicas<br><b>Min</b> -> Minutos
</div>
<h3>Estadísticas de Equipo</h3>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.TeamStatsController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por Equipo">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@mcgrady.controllers.routes.TeamStatsController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th colspan="3">Partido</th>
        <th colspan="3">Equipo</th>
        <th>Pts</th>
        <th>Reb Of</th>
        <th>Reb Def</th>
        <th>Ass</th>
        <th>Tap</th>
        <th>Rob</th>
        <th>TCA</th>
        <th>TCI</th>
        <th>T3A</th>
        <th>T3I</th>
        <th>TLA</th>
        <th>TLI</th>
        <th>Fal</th>
        <th>Per</th>
        <th>Min</th>
        <th>Tec</th>
        <th>Flag</th>
        <th></th>
    </tr>
    @for((teamStats,game,inscription,team,home,away) <- currentPage.items){
    <tr>
        <td>@sf.format(game.dateGame)<br> @home vs @away</td><td></td>
        <td><a href="@mcgrady.controllers.routes.GameController.view(game.id.get)">
                <img src=@routes.Assets.versioned("images/ver.png") alt="Ver Partido">
            </a></td>
        <td>@team</td><td></td>
            <td><a href="@mcgrady.controllers.routes.TeamController.view(inscription.idTeam)">
            <img src=@routes.Assets.versioned("images/ver.png") alt="Ver Equipo"></a></td>
        <td>@teamStats.points</td>
        <td>@teamStats.offReb</td>
        <td>@teamStats.defReb</td>
        <td>@teamStats.assists</td>
        <td>@teamStats.blocks</td>
        <td>@teamStats.steals</td>
        <td>@teamStats.fgm</td>
        <td>@teamStats.fga</td>
        <td>@teamStats.ftm</td>
        <td>@teamStats.fta</td>
        <td>@teamStats.t3m</td>
        <td>@teamStats.t3a</td>
        <td>@teamStats.fouls</td>
        <td>@teamStats.turnovers</td>
        <td>@teamStats.minutes</td>
        <td>@teamStats.techFouls</td>
        <td>@teamStats.flagFouls</td>
        <td>
            <a href="@mcgrady.controllers.routes.TeamStatsController.edit(teamStats.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar"></a>
            <a href="@mcgrady.controllers.routes.TeamStatsController.delete(teamStats.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar"></a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
<div id="navigation-back"> <a href="@request.headers.get("referer")">
    <img src=@routes.Assets.versioned("images/volver24.png") alt="Volver"></a></div>
}