@(currentPage : util.Page[(mcgrady.model.Contract,mcgrady.model.Player,mcgrady.model.Team)], currentOrderBy: Int, currentFilter: String, sf: java.text.SimpleDateFormat)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
mcgrady.controllers.routes.ContractController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("contract.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h3>Contratos</h3>
<div id="actions">
    @helper.form(action=mcgrady.controllers.routes.ContractController.list()) {
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por Equipo">
    <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
    } <a class="btn success" id="add" href="@mcgrady.controllers.routes.ContractController.add()">
    <button type="submit" class="btn-add">Nuevo</button></a>
</div>
<table class="table table-striped">
    <tr>
        <th>Jugador</th>
        <th>Equipo</th>
        <th>Comienzo</th>
        <th>Fin</th>
        <th></th>
    </tr>
    @for((contract,player,team) <- currentPage.items){
    <tr>
        <td><a href="@mcgrady.controllers.routes.PlayerController.edit(player.id.get)">@player.firstName @player.lastName</a></td>
        <td><a href="@mcgrady.controllers.routes.TeamController.edit(team.id.get)">@team.name</a></td>
        @if(contract.initDate != None){
        <td>@sf.format(contract.initDate.get)</td>
        }else{<td></td>}
        @if(contract.endDate != None){
        <td>@sf.format(contract.endDate.get)</td>
        }else{<td></td>}
        <td>
            <a href="@mcgrady.controllers.routes.ContractController.edit(contract.id.get)">
                <img src=@routes.Assets.versioned("images/editar.png") alt="Modificar">
            </a>
            <a href="@mcgrady.controllers.routes.ContractController.delete(contract.id)">
                <img src=@routes.Assets.versioned("images/basura.png") alt="Borrar">
            </a>
        </td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <a>Mostrando del @(currentPage.offset + 1) al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a>
    </br>
    @currentPage.prev.map { page =>
    <a href="@link(page)"><button>Anterior<i class="arrow_left"></i></button></a>
    }.getOrElse {|}
    @currentPage.next.map { page =>
    <a href="@link(page)"><button>Siguiente<i class="arrow_right"></i></button></a>
    }.getOrElse {|}
</div>
}