@(player: mcgrady.model.Player,pStats:Seq[mcgrady.model.PlayerStats],games:Seq[mcgrady.model.Game],inscriptions:Seq[mcgrady.model.Inscription],competitions:Seq[mcgrady.model.Competition],seasons:Seq[mcgrady.model.Season],teams:Seq[mcgrady.model.Team],contracts:Seq[mcgrady.model.Contract],sf: java.text.SimpleDateFormat)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)
@import java.math.BigInteger; var pGames=0; var a=0; var b=0; var c=0; var d=0; var e=0; var f=0; var g=0; var h=0; var i=0; var k=0; var j=0; var l=0; var m=0; var n=0; var o=0; var p=0; var q=0; var r=0; var s=0;
@import java.lang.String; var pTeam=""; var pYear=""; var pComp=""
@main(Messages("player.title")){
<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <p>En esta pantalla se puede consultar las estadisticas acumuladas y los promedios del jugador
        durante su carrera completa y desglosado por año, equipo y competición</p>
</div>
<div id="legend" style="display:none;">
    <a href='#' onClick="closeLegend()"><b>x</b></a> <b><i>Leyenda</i></b>
    <br><b>Temp</b> -> Temporada<br><b>Comp</b> -> Competición<br><b>Equ</b> -> Equipo
    <br><b>PPP</b> -> Puntos por Partido<br><b>Pts</b> -> Puntos<br><b>T2C</b> -> Tiros de 2 Conseguidos
    <br><b>T2I</b> -> Tiros de 2 Intentados<br><b>T2%</b> -> Porcentaje de Tiros de 2
    <br><b>T3C</b> -> Triples Conseguidos<br><b>T3I</b> -> Triples Intentados
    <br><b>T3%</b> -> Porcentaje de Triples<br><b>TCC</b> -> Tiros de Campo Conseguidos
    <br><b>TCI</b> -> Tiros de Campo Intentados<br><b>TC%</b> -> Porcentaje de Tiros de Campo
    <br><b>TLC</b> -> Tiros Libros Conseguidos<br><b>TLI</b> -> Tiros Libros Intentados
    <br><b>TL%</b> -> Porcentaje de Tiros Libres<br><b>RebOf</b> ->Rebotes Ofensivos
    <br><b>RebDef</b> -> Rebotes defensivos<br><b>RebPP</b> -> Rebotes por Partido
    <br><b>Reb</b> -> Rebotes<br><b>APP</b> -> Asistencias por Partido<br><b>Ass</b> -> Asistencias
    <br><b>TPP</b> -> Tapones por Partido<br><b>Tap</b> -> Tapones<br><b>RobPP</b> -> Robos por Partido
    <br><b>Rob</b> -> Robos<br><b>Per</b> -> Pérdidas<br><b>FPP</b>-> Faltas por Partido<br><b>Fal</b> -> Faltas
    <br><b>Flag</b> -> Faltas Flagrantes<br><b>Tec</b> -> Faltas Técnicas<br><b>MPP</b> -> Minutos por Partido
    <br><b>Par</b> -> Partidos
</div>
<div id="statistics">
    <h1>@player.firstName @player.lastName</h1>
    <h2>Carrera</h2>
    <h3>Medias</h3><div class="tooltip" style="top: -40px;left: 70px;"><span class="tooltiptext">Promedio estadistico
    de todas las competiciones y temporadas que ha realizado el jugador</span>
    <img src=@routes.Assets.versioned("images/info.png") alt="Info"></div>
    @{pGames=0} @{a=0} @{b=0} @{c=0} @{d=0} @{e=0} @{f=0} @{g=0} @{h=0} @{i=0}
    @{j=0} @{k=0} @{l=0} @{m=0} @{o=0} @{p=0} @{q=0} @{r=0} @{s=0}
    <div class="scroll-h">
    <table>
        <tr>
            <th>PPP</th>
            <th>T2C</th>
            <th>T2I</th>
            <th>T2%</th>
            <th>T3C</th>
            <th>T3I</th>
            <th>T3%</th>
            <th>TCC</th>
            <th>TCI</th>
            <th>TC%</th>
            <th>TLC</th>
            <th>TLI</th>
            <th>TL%</th>
            <th>RebOf</th>
            <th>RebDef</th>
            <th>RebPP</th>
            <th>APP</th>
            <th>TPP</th>
            <th>RobPP</th>
            <th>Per</th>
            <th>FPP</th>
            <th>Flag</th>
            <th>Tec</th>
            <th>MPP</th>
        </tr>
        <tr>
            @for(pStat<-pStats.filter(_.idPlayer == player.id.get)){
            @if(pStat.points.isDefined){@{a+=pStat.points.get.asInstanceOf[Number].intValue}}
            @if(pStat.fgm.isDefined){@{b+=pStat.fgm.get.asInstanceOf[Number].intValue}}
            @if(pStat.fga.isDefined){@{c+=pStat.fga.get.asInstanceOf[Number].intValue}}
            @if(pStat.t3m.isDefined){@{d+=pStat.t3m.get.asInstanceOf[Number].intValue}}
            @if(pStat.t3a.isDefined){@{e+=pStat.t3a.get.asInstanceOf[Number].intValue}}
            @if(pStat.ftm.isDefined){@{f+=pStat.ftm.get.asInstanceOf[Number].intValue}}
            @if(pStat.fta.isDefined){@{g+=pStat.fta.get.asInstanceOf[Number].intValue}}
            @if(pStat.offReb.isDefined){@{i+=pStat.offReb.get.asInstanceOf[Number].intValue}}
            @if(pStat.defReb.isDefined){@{j+=pStat.defReb.get.asInstanceOf[Number].intValue}}
            @if(pStat.assists.isDefined){@{k+=pStat.assists.get.asInstanceOf[Number].intValue}}
            @if(pStat.blocks.isDefined){@{l+=pStat.blocks.get.asInstanceOf[Number].intValue}}
            @if(pStat.steals.isDefined){@{m+=pStat.steals.get.asInstanceOf[Number].intValue}}
            @if(pStat.turnovers.isDefined){@{n+=pStat.turnovers.get.asInstanceOf[Number].intValue}}
            @if(pStat.fouls.isDefined){@{o+=pStat.fouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.flagFouls.isDefined){@{p+=pStat.flagFouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.techFouls.isDefined){@{q+=pStat.techFouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.minutes.isDefined){@{r+=pStat.minutes.get.asInstanceOf[Number].intValue}}
            @{pGames+=1}
            }
            <td>@{"%.2f".format(a.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format((b.toFloat-d.toFloat)/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format((c.toFloat-e.toFloat)/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format((b.toFloat-d.toFloat)*100/(c.toFloat-e.toFloat)).replace(',','.')}%</td>
            <td>@{"%.2f".format(d.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(e.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(d.toFloat*100/e.toFloat).replace(',','.')}%</td>
            <td>@{"%.2f".format(b.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(c.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(b.toFloat*100/c.toFloat).replace(',','.')}%</td>
            <td>@{"%.2f".format(f.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(g.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(f.toFloat*100/g.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(i.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(j.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format((i.toFloat+j.toFloat)/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(k.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(l.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(m.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(n.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(o.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(p.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(q.toFloat/pGames.toFloat).replace(',','.')}</td>
            <td>@{"%.2f".format(r.toFloat/pGames.toFloat).replace(',','.')}</td>
        </tr>
    </table>
    </div>
    <h3>Acumulado</h3><div class="tooltip" style="top: -40px;left: 105px;"><span class="tooltiptext">Estadisticas acumuladas
    durante todas las temporadas en activo del jugador</span>
    <img src=@routes.Assets.versioned("images/info.png") alt="Info"></div>
    @{pGames=0} @{a=0} @{b=0} @{c=0} @{d=0} @{e=0} @{f=0} @{g=0} @{h=0} @{i=0}
    @{j=0} @{k=0} @{l=0} @{m=0} @{o=0} @{p=0} @{q=0} @{r=0} @{s=0}
    <div class="scroll-h">
    <table>
        <tr>
            <th>Pts</th>
            <th>T2C</th>
            <th>T2I</th>
            <th>T2%</th>
            <th>T3C</th>
            <th>T3I</th>
            <th>T3%</th>
            <th>TCC</th>
            <th>TCI</th>
            <th>TC%</th>
            <th>TLC</th>
            <th>TLI</th>
            <th>TL%</th>
            <th>RebOf</th>
            <th>RebDef</th>
            <th>Reb</th>
            <th>Ass</th>
            <th>Tap</th>
            <th>Rob</th>
            <th>Per</th>
            <th>Fal</th>
            <th>Flag</th>
            <th>Tec</th>
            <th>Min</th>
            <th>Par</th>
        </tr>
        <tr>
            @for(pStat<-pStats.filter(_.idPlayer == player.id.get)){
            @if(pStat.points.isDefined){@{a+=pStat.points.get.asInstanceOf[Number].intValue}}
            @if(pStat.fgm.isDefined){@{b+=pStat.fgm.get.asInstanceOf[Number].intValue}}
            @if(pStat.fga.isDefined){@{c+=pStat.fga.get.asInstanceOf[Number].intValue}}
            @if(pStat.t3m.isDefined){@{d+=pStat.t3m.get.asInstanceOf[Number].intValue}}
            @if(pStat.t3a.isDefined){@{e+=pStat.t3a.get.asInstanceOf[Number].intValue}}
            @if(pStat.ftm.isDefined){@{f+=pStat.ftm.get.asInstanceOf[Number].intValue}}
            @if(pStat.fta.isDefined){@{g+=pStat.fta.get.asInstanceOf[Number].intValue}}
            @if(pStat.offReb.isDefined){@{h+=pStat.offReb.get.asInstanceOf[Number].intValue}}
            @if(pStat.defReb.isDefined){@{i+=pStat.defReb.get.asInstanceOf[Number].intValue}}
            @if(pStat.assists.isDefined){@{j+=pStat.assists.get.asInstanceOf[Number].intValue}}
            @if(pStat.blocks.isDefined){@{k+=pStat.blocks.get.asInstanceOf[Number].intValue}}
            @if(pStat.steals.isDefined){@{l+=pStat.steals.get.asInstanceOf[Number].intValue}}
            @if(pStat.turnovers.isDefined){@{m+=pStat.turnovers.get.asInstanceOf[Number].intValue}}
            @if(pStat.fouls.isDefined){@{n+=pStat.fouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.flagFouls.isDefined){@{o+=pStat.flagFouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.techFouls.isDefined){@{p+=pStat.techFouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.minutes.isDefined){@{q+=pStat.minutes.get.asInstanceOf[Number].intValue}}
            @{pGames+=1} }
            <td>@a</td>
            <td>@{"%.0f".format((b.toFloat-d.toFloat)).replace(',','.')}</td>
            <td>@{"%.0f".format((c.toFloat-e.toFloat)).replace(',','.')}</td>
            <td>@{"%.2f".format((b.toFloat-d.toFloat)*100/(c.toFloat-e.toFloat)).replace(',','.')}%</td>
            <td>@d</td>
            <td>@e</td>
            <td>@{"%.2f".format(d.toFloat*100/e.toFloat).replace(',','.')}%</td>
            <td>@b</td>
            <td>@c</td>
            <td>@{"%.2f".format(b.toFloat*100/c.toFloat).replace(',','.')}%</td>
            <td>@f</td>
            <td>@g</td>
            <td>@{"%.2f".format(f.toFloat*100/g.toFloat).replace(',','.')}</td>
            <td>@h</td>
            <td>@i</td>
            <td>@{"%.0f".format((h.toFloat+i.toFloat)).replace(',','.')}</td>
            <td>@j</td>
            <td>@k</td>
            <td>@l</td>
            <td>@m</td>
            <td>@n</td>
            <td>@o</td>
            <td>@p</td>
            <td>@q</td>
            <td>@pGames</td>
        </tr>
    </table>
    </div>

    <h2>Temporadas</h2>
    <h3>Medias</h3><div class="tooltip" style="top: -40px;left: 70px;"><span class="tooltiptext">Promedio estadistico
    realizado por el jugador desglosado por temporada y competición</span>
    <img src=@routes.Assets.versioned("images/info.png") alt="Info"></div>
    <div class="scroll-h">
        <table>
            <tr>
                <th>Temp</th>
                <th>Comp</th>
                <th>Equ</th>
                <th>PPP</th>
                <th>T2C</th>
                <th>T2I</th>
                <th>T2%</th>
                <th>T3C</th>
                <th>T3I</th>
                <th>T3%</th>
                <th>TCC</th>
                <th>TCI</th>
                <th>TC%</th>
                <th>TLC</th>
                <th>TLI</th>
                <th>TL%</th>
                <th>RebOf</th>
                <th>RebDef</th>
                <th>RPP</th>
                <th>APP</th>
                <th>TPP</th>
                <th>RobPP</th>
                <th>Per</th>
                <th>FPP</th>
                <th>Flag</th>
                <th>Tec</th>
                <th>MPP</th>
            </tr>
            @for(season<-seasons){ @for(competition<-competitions.filter(_.idSeason == season.id.get)){

            @{pGames=0} @{a=0} @{b=0} @{c=0} @{d=0} @{e=0} @{f=0} @{g=0} @{h=0} @{i=0}
            @{j=0} @{k=0} @{l=0} @{m=0} @{o=0} @{p=0} @{q=0} @{r=0} @{s=0}

            @for(pStat<-pStats.filter(_.idPlayer == player.id.get)){
            @for(game<-games.filter(_.id.get == pStat.idGame)){
            @for(inscription<-inscriptions.filter(_.id.get == game.idHome).filter(_.idCompetition == competition.id.get)){

            @for(contract<-contracts.filter(_.idPlayer == player.id.get)){
            @for(team<-teams.filter(_.id.get == contract.idTeam).filter(_.id.get == inscription.idTeam)){

            @{pTeam = team.abrv}
            @{s=team.id.get.asInstanceOf[Number].intValue}

            }}

            @{pGames+=1}
            @if(pStat.points.isDefined){@{a+=pStat.points.get.asInstanceOf[Number].intValue}}
            @if(pStat.fgm.isDefined){@{b+=pStat.fgm.get.asInstanceOf[Number].intValue}}
            @if(pStat.fga.isDefined){@{c+=pStat.fga.get.asInstanceOf[Number].intValue}}
            @if(pStat.t3m.isDefined){@{d+=pStat.t3m.get.asInstanceOf[Number].intValue}}
            @if(pStat.t3a.isDefined){@{e+=pStat.t3a.get.asInstanceOf[Number].intValue}}
            @if(pStat.ftm.isDefined){@{f+=pStat.ftm.get.asInstanceOf[Number].intValue}}
            @if(pStat.fta.isDefined){@{g+=pStat.fta.get.asInstanceOf[Number].intValue}}
            @{h=competition.id.get.asInstanceOf[Number].intValue}
            @if(pStat.offReb.isDefined){@{i+=pStat.offReb.get.asInstanceOf[Number].intValue}}
            @if(pStat.defReb.isDefined){@{j+=pStat.defReb.get.asInstanceOf[Number].intValue}}
            @if(pStat.assists.isDefined){@{k+=pStat.assists.get.asInstanceOf[Number].intValue}}
            @if(pStat.blocks.isDefined){@{l+=pStat.blocks.get.asInstanceOf[Number].intValue}}
            @if(pStat.steals.isDefined){@{m+=pStat.steals.get.asInstanceOf[Number].intValue}}
            @if(pStat.turnovers.isDefined){@{n+=pStat.turnovers.get.asInstanceOf[Number].intValue}}
            @if(pStat.fouls.isDefined){@{o+=pStat.fouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.flagFouls.isDefined){@{p+=pStat.flagFouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.techFouls.isDefined){@{q+=pStat.techFouls.get.asInstanceOf[Number].intValue}}
            @if(pStat.minutes.isDefined){@{r+=pStat.minutes.get.asInstanceOf[Number].intValue}}
            @{pComp=competition.abrv.get}
            @{pYear = season.year}

            }}}
            @if(pGames != 0){
            <tr>
                <td>@pYear</td>
                <td><a href="@mcgrady.controllers.routes.CompetitionController.view(h)">@pComp</a></td>
                <td><a href="@mcgrady.controllers.routes.TeamController.view(s)">@pTeam</a></td>
                <td>@{"%.2f".format(a.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format((b.toFloat-d.toFloat)/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format((c.toFloat-e.toFloat)/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format((b.toFloat-d.toFloat)*100/(c.toFloat-e.toFloat)).replace(',','.')}%</td>
                <td>@{"%.2f".format(d.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(e.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(d.toFloat*100/e.toFloat).replace(',','.')}%</td>
                <td>@{"%.2f".format(b.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(c.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(b.toFloat*100/c.toFloat).replace(',','.')}%</td>
                <td>@{"%.2f".format(f.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(g.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(f.toFloat*100/g.toFloat).replace(',','.')}%</td>
                <td>@{"%.2f".format(i.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(j.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format((i.toFloat+j.toFloat)/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(k.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(l.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(m.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(n.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(o.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(p.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(q.toFloat/pGames.toFloat).replace(',','.')}</td>
                <td>@{"%.2f".format(r.toFloat/pGames.toFloat).replace(',','.')}</td>
            </tr>
            }

            }
            }

        </table>
    </div>
    <h3>Acumulado</h3><div class="tooltip" style="top: -40px;left: 105px;"><span class="tooltiptext">Estadisticas
    acumuladas por el jugador en cada competición y temporada</span>
    <img src=@routes.Assets.versioned("images/info.png") alt="Info"></div>

    <div class="scroll-h">
    <table>
        <tr>
            <th>Temp</th>
            <th>Comp</th>
            <th>Equ</th>
            <th>Pts</th>
            <th>T2C</th>
            <th>T2I</th>
            <th>T2%</th>
            <th>T3C</th>
            <th>T3I</th>
            <th>T3%</th>
            <th>TCC</th>
            <th>TCI</th>
            <th>TC%</th>
            <th>TLC</th>
            <th>TLI</th>
            <th>TL%</th>
            <th>RebOf</th>
            <th>RebDef</th>
            <th>Reb</th>
            <th>Ass</th>
            <th>Tap</th>
            <th>Rob</th>
            <th>Per</th>
            <th>Fal</th>
            <th>Flag</th>
            <th>Tec</th>
            <th>Min</th>
            <th>Par</th>
        </tr>
        @for(season<-seasons){
        @for(competition<-competitions.filter(_.idSeason == season.id.get)){

        @{pGames=0} @{a=0} @{b=0} @{c=0} @{d=0} @{e=0} @{f=0} @{g=0} @{h=0} @{i=0}
        @{j=0} @{k=0} @{l=0} @{m=0} @{o=0} @{p=0} @{q=0} @{r=0} @{s=0}

        @for(pStat<-pStats.filter(_.idPlayer == player.id.get)){
        @for(game<-games.filter(_.id.get == pStat.idGame)){
        @for(inscription<-inscriptions.filter(_.id.get == game.idHome).filter(_.idCompetition == competition.id.get)){

        @for(contract<-contracts.filter(_.idPlayer == player.id.get)){
        @for(team<-teams.filter(_.id.get == contract.idTeam).filter(_.id.get == inscription.idTeam)){

        @{pTeam = team.abrv}
        @{s=team.id.get.asInstanceOf[Number].intValue}

        }}

        @{pGames+=1}
        @if(pStat.points.isDefined){@{a+=pStat.points.get.asInstanceOf[Number].intValue}}
        @if(pStat.fgm.isDefined){@{b+=pStat.fgm.get.asInstanceOf[Number].intValue}}
        @if(pStat.fga.isDefined){@{c+=pStat.fga.get.asInstanceOf[Number].intValue}}
        @if(pStat.t3m.isDefined){@{d+=pStat.t3m.get.asInstanceOf[Number].intValue}}
        @if(pStat.t3a.isDefined){@{e+=pStat.t3a.get.asInstanceOf[Number].intValue}}
        @if(pStat.ftm.isDefined){@{f+=pStat.ftm.get.asInstanceOf[Number].intValue}}
        @if(pStat.fta.isDefined){@{g+=pStat.fta.get.asInstanceOf[Number].intValue}}
        @{h=competition.id.get.asInstanceOf[Number].intValue}
        @if(pStat.offReb.isDefined){@{i+=pStat.offReb.get.asInstanceOf[Number].intValue}}
        @if(pStat.defReb.isDefined){@{j+=pStat.defReb.get.asInstanceOf[Number].intValue}}
        @if(pStat.assists.isDefined){@{k+=pStat.assists.get.asInstanceOf[Number].intValue}}
        @if(pStat.blocks.isDefined){@{l+=pStat.blocks.get.asInstanceOf[Number].intValue}}
        @if(pStat.steals.isDefined){@{m+=pStat.steals.get.asInstanceOf[Number].intValue}}
        @if(pStat.turnovers.isDefined){@{n+=pStat.turnovers.get.asInstanceOf[Number].intValue}}
        @if(pStat.fouls.isDefined){@{o+=pStat.fouls.get.asInstanceOf[Number].intValue}}
        @if(pStat.flagFouls.isDefined){@{p+=pStat.flagFouls.get.asInstanceOf[Number].intValue}}
        @if(pStat.techFouls.isDefined){@{q+=pStat.techFouls.get.asInstanceOf[Number].intValue}}
        @if(pStat.minutes.isDefined){@{r+=pStat.minutes.get.asInstanceOf[Number].intValue}}
        @{pComp=competition.abrv.get}
        @{pYear = season.year}

        }}}
        @if(pGames != 0){
        <tr>
            <td>@pYear</td>
            <td><a href="@mcgrady.controllers.routes.CompetitionController.view(h)">@pComp</a></td>
            <td><a href="@mcgrady.controllers.routes.TeamController.view(s)">@pTeam</a></td>
            <td>@a</td>
            <td>@{"%.0f".format((b.toFloat-d.toFloat)).replace(',','.')}</td>
            <td>@{"%.0f".format((c.toFloat-e.toFloat)).replace(',','.')}</td>
            <td>@{"%.2f".format((b.toFloat-d.toFloat)*100/(c.toFloat-e.toFloat)).replace(',','.')}%</td>
            <td>@d</td>
            <td>@e</td>
            <td>@{"%.2f".format(d.toFloat*100/e.toFloat).replace(',','.')}%</td>
            <td>@b</td>
            <td>@c</td>
            <td>@{"%.2f".format(b.toFloat*100/c.toFloat).replace(',','.')}%</td>
            <td>@f</td>
            <td>@g</td>
            <td>@{"%.2f".format(f.toFloat*100/g.toFloat).replace(',','.')}</td>
            <td>@i</td>
            <td>@j</td>
            <td>@{"%.0f".format((i.toFloat+j.toFloat)).replace(',','.')}</td>
            <td>@k</td>
            <td>@l</td>
            <td>@m</td>
            <td>@n</td>
            <td>@o</td>
            <td>@p</td>
            <td>@q</td>
            <td>@r</td>
            <td>@pGames</td>
        </tr>
        }}}
    </table>
    </div>
</div>
<div id="navigation-back"> <a href="@request.headers.get("referer")">
    <img src=@routes.Assets.versioned("images/volver24.png") alt="Volver"></a></div>
}