@(leagueForm: Form[model.League],countries: Seq[model.Country])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)


@import helper._

@main(Messages("league.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h1>Añadir Liga</h1>
<form id="league-data-form" role="form" action=	@routes.LeagueController.save() method="post" autocomplete="off">
    <fieldset >
        <label>Ligas</label>
        <br/>
        <table align="center">
            <tr>
                <th>Nombre</th>
                <th>División</th>
                <th>País</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="name" name="name" value="" placeholder="Nombre" required>
                </td>
                <td align="center">
                    <input type="text" id="division" name="division" value="" placeholder="División" required>
                </td>
                <td>
                    <select id="id_country" name="id_country">
                        @for(country <- countries){
                        <option value=@country.id>@country.name</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button> o
            <a href=@routes.LeagueController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
