@(competitionForm: Form[model.Competition], countries: Seq[model.Country], seasons: Seq[model.Season])(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@import helper._

@main(Messages("competition.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<h1>Añadir Competición</h1>
<form id="competition-data-form" role="form" action=@routes.CompetitionController.save() method="post" autocomplete="off">
    <fieldset >
        <label>Competición</label>
        <br/>
        <table align="center">
            <tr>
                <th><a href=@routes.SeasonController.add() class="btn">+</a> Temporada</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>División</th>
                <th>País</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Fin</th>
            </tr>
            <tr>
                <td>
                    <select id="id_season" name="id_season">
                        @for(season <- seasons){
                        <option value="@season.id">@season.year</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="text" id="name" name="name" value="" placeholder="Nombre" required>
                </td>
                <td>
                    <input type="text" id="abbreviation" name="abbreviation" value="" placeholder="Abreviatura" required>
                </td>
                <td align="center">
                    <input type="text" id="division" name="division" value="" placeholder="División">
                </td>
                <td>
                    <select id="id_country" name="id_country">
                        @for(country <- countries){
                        <option value="@country.id">@country.name</option>
                        }
                    </select>
                </td>
                <td align="center">
                    <input type="text" id="description" name="description" value="" placeholder="Descripción">
                </td>
                <td align="center">
                    <input type="text" id="type" name="type" value="" placeholder="Tipo" required>
                </td>
                <td align="center">
                    <input type="text" id="init_date" name="init_date" value="" placeholder="Fecha Inicio">
                </td>
                <td align="center">
                    <input type="text" id="end_date" name="end_date" value="" placeholder="Fecha Fin">
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Añadir</button> o
            <a href=@routes.CompetitionController.list() class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
}
