@(leagueForm: Form[model.League],leagues: Seq[(model.League,String)],countries: Seq[model.Country])(implicit request: RequestHeader,messages: Messages)
@main(Messages("league.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<form id="league-data-form" role="form" action=	@routes.LeagueController.add() method="post" autocomplete="off">
    <fieldset >
        <label>Ligas</label>
        <br/>
        <table align="center">
            <tr>
                <th>Nombre</th>
                <th>División</th>
                <th>País</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="name" name="name" value="" placeholder="Nombre" required>
                </td>
                <td align="center">
                    <input type="text" id="division" name="division" value="" placeholder="División" required>
                </td>
                <td>
                    <select id="id_country" name="id_country">
                        @for(country <- countries){
                        <option value=@country.id>@country.name</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <br/>
            <button type="submit">Añadir</button>
    </fieldset>
</form>
<div>
    <fieldset>
        <legend align="center">
            <h3>Ligas Registradas</h3>
        </legend>
        <table >
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>División</th>
                <th>País</th>
            </tr>
            @for((league,country) <- leagues){
            <tr>
                <td>@league.id</td>
                <td>@league.name</td>
                <td>@league.abbreviation</td>
                <td>@league.division</td>
                <td>@country</td>
                <td><a href="@routes.LeagueController.delete(league.id)">Borrar</a></td>
            </tr>
            }
        </table>
    </fieldset>
</div>

}
