@(currentPage : util.Page[(model.Competition,model.Country,model.Season)], currentOrderBy: Int, currentFilter: String,sf: java.text.SimpleDateFormat)(implicit flash: play.api.mvc.Flash,request: RequestHeader,messages : Messages)

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.CompetitionController.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)
}

@main(Messages("competition.title")){
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@msg</strong>
</div>
}
<div id="actions">

    @helper.form(action=routes.CompetitionController.list()) { <input type="search"
                                                                 id="searchbox" name="f" value="@currentFilter"
                                                                 placeholder="Filtrar por nombre de Competicion"> <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
                                                                                                                  } <a class="btn success" id="add" href="@routes.CompetitionController.add()">Añadir Competicion</a>

</div>
<script>
function myFunction() {
    var txt;
    var r = confirm("Esta seguro?");
    if (r == true) {
        txt = "You pressed OK!";
    } else {
        txt = "You pressed Cancel!";
    }
}
</script>
<table class="table table-striped">
    <tr>
        <th>Temp</th>
        <th></th>
        <th>País</th>
        <th>Abrev</th>
        <th>Div</th>
        <th>Tipo</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Descripción</th>
    </tr>
    @for((competition,country,season) <- currentPage.items){
    <tr>
        <td><a href="@routes.SeasonController.edit(season.id.get)">@season.year</a></td>
        <td><a href="@routes.CompetitionController.edit(competition.id.get)">@competition.name</a></td>
        <td>@country.name</td>
        <td>@competition.abbreviation</td>
        <td>@competition.division</td>
        <td>@competition.typeCompetition</td>
        @if(competition.initDate != None){
        <td>@sf.format(competition.initDate.get)</td>
        }else{<td></td>}
        @if(competition.endDate != None){
        <td>@sf.format(competition.endDate.get)</td>
        }else{<td></td>}
        <td>@competition.description</td>
        <td><a href="@routes.CompetitionController.delete(competition.id)">Borrar</a></td>
    </tr>
    }
</table>
<div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev"><a href="@link(page)">&larr; Anterior</a></li>
        }.getOrElse {
        <li class="prev disabled"><a>&larr; Anterior</a></li> }
        <li class="current"><a>Mostrando del @(currentPage.offset + 1)
            al @(currentPage.offset + currentPage.items.size) de @currentPage.total</a></li>
        @currentPage.next.map { page =>
        <li class="next"><a href="@link(page)">Siguiente &rarr;</a></li>
        }.getOrElse {
        <li class="next disabled"><a>Siguiente &rarr;</a></li> }
    </ul>
</div>
}