@(form: Form[model.UserData])(implicit flash: Flash)

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Login 3+1</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/list.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/form.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon32.png.png")">
    <script src="@routes.Assets.versioned("javascripts/shotChart.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/filter.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/validate.js")" type="text/javascript"></script>
</head>
<body>

<div id="help" style="display:none;">
    <a href='#' onClick="closeHelp()"><b>x</b></a> <b><i>Ayuda</i></b>
    <br>Introduce <br><br>E-Mail: <em>prueba@@tpo.es</em><br>Contrase&ntilde;a: <em>prueba</em>
    <br><br>para entrar al sistema
</div>

@helper.form(routes.Authentication.authenticate) {

<h3 style="text-align:center;">Ingresar</h3>

@form.globalError.map { error =>
<p style="text-align:center;" class="error"> @error.message </p>
}

@flash.get("success").map { message =>
<p style="text-align:center;" class="success"> @message </p>
}
<div id="login-form">
    <div id="login-thumbnail"><img src=@routes.Assets.versioned("images/logo2_400.png") alt="ThreePlusOne"></div>
    <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
    <input type="password" name="password" id="password" placeholder="Contrase&ntilde;a">
    <button type="submit" id="loginbutton">Log In</button>
</div>
<p style="text-align:center;"> <a href='#' onClick="openHelp()">
    <img src=@routes.Assets.versioned("images/informacion.png") alt="Ayuda">
</a></p>

}



</body>
</html>