@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>@title</title>
        <meta name = "author" content="Borja Gete Ortuñez">
        <meta name = "version" content="1.00">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/list.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/form.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon32.png")">
        <script src="@routes.Assets.versioned("javascripts/filter.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/validate.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/shotChart.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="@routes.Application.index">
                <img src=@routes.Assets.versioned("images/logo2.png") alt="ThreePlusOne"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li><p>Entrenamientos</p>
                        <ul>
                            <li><a href="@kobe.controllers.routes.ExerciseController.index">Ejercicios</a></li>
                            <li><a href="@kobe.controllers.routes.PlanController.index">Planes</a></li>
                            <li><a href="@kobe.controllers.routes.SessionController.index">Sesiones</a></li>
                            <li><a href="@kobe.controllers.routes.SerieController.index">Series</a></li>
                        </ul>
                    </li>
                    <li><p>Partidos</p>
                        <ul>
                            <li><a href="@mcgrady.controllers.routes.CompetitionController.index">Competiciones</a></li>
                            <li><a href="@mcgrady.controllers.routes.TeamController.index">Equipos</a></li>
                            <li><a href="@mcgrady.controllers.routes.PlayerController.index">Jugadores</a></li>
                            <li><a href="@mcgrady.controllers.routes.GameController.index">Partidos</a></li>
                            <li><a href="@mcgrady.controllers.routes.PlayerStatsController.index">Estad. Jugadores</a></li>
                            <li><a href="@mcgrady.controllers.routes.TeamStatsController.index">Estad. Equipos</a></li>
                        </ul>
                    </li>
                    <li><p></p></li><li><p></p></li><li><p>
                    <li><p><img src=@routes.Assets.versioned("images/servidor32A.png") alt="Entrenamientos"></p>
                        <ul>
                            <li><a href="@kobe.controllers.routes.UnitController.index">Unidades</a></li>
                            <li><a href="@kobe.controllers.routes.TypeExerciseController.index">Tipos</a></li>
                            <li><a href="@kobe.controllers.routes.CategoryController.index">Categorias</a></li>
                            <li><a href="@kobe.controllers.routes.EnviromentController.index">Entornos</a></li>
                            <li><a href="@kobe.controllers.routes.RecordController.index">Registros</a></li>
                        </ul>
                    </li>
                    <li><p><img src=@routes.Assets.versioned("images/servidor32Az.png") alt="Partidos"></p>
                        <ul>
                            <li><a href="@mcgrady.controllers.routes.SeasonController.index">Temporadas</a></li>
                            <li><a href="@mcgrady.controllers.routes.GroupController.index">Grupos</a></li>
                            <li><a href="@mcgrady.controllers.routes.SubGroupController.index">SubGrupos</a></li>
                            <li><a href="@mcgrady.controllers.routes.ArenaController.index">Estadios</a></li>
                            <li><a href="@mcgrady.controllers.routes.ContractController.index">Contratos</a></li>
                            <li><a href="@mcgrady.controllers.routes.InscriptionController.index">Inscripciones</a></li>
                        </ul>
                    </li>
                    <li><p><a href='#' onClick="openHelp()">
                    <img src=@routes.Assets.versioned("images/informacion.png") alt="Ayuda">
                    </a></p></li>
                    <li><p><a href='#' onClick="openLegend()">
                    <img src=@routes.Assets.versioned("images/leyenda.png") alt="Leyenda">
                    </a></p></li>
                </ul>
            </nav>
            <div id="user">
                <a href="@routes.Authentication.logout()">
                    <img src=@routes.Assets.versioned("images/potencia64.png") alt="Cerrar Sesión"></a>
            </div>
        </div>
        <div id="content">
		@content
		</div>
		<footer>
		    <div id="contact"><a href="https://github.com/BorjaG90/threeplusone">
		    <img src=@routes.Assets.versioned("images/participacion32.png") alt="RRSS"></a></div>
		    <div id="w3c"><img src=@routes.Assets.versioned("images/HTML5_Logo_32.png") alt="W3C Validated"></div>
		    <div id="ico">Iconos diseñados por<a href="http://www.flaticon.es/autores/madebyoliver" title="Madebyoliver" target="_blank">Madebyoliver</a>desde<a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>con licencia<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		    <div id="font">Fuentes obtenidas de <a href="http://www.dafont.com/es/sports-jersey.font" target="_blank">DaFont</a></div>
		</footer>
    </body>
</html>
